[block: main]
<div class="box">
	<div class="head">GOTY Admin</div>
	<div class="body list">
	<ul class="list-group">
		<li class="list-group-item"><a href="admin.php?module=goty&view=config">Config</a></li>
		<li class="list-group-item"><a href="admin.php?module=goty&view=top10">View top 10</a></li>
		<li class="list-group-item"><a href="admin.php?module=goty&amp;view=add">Add Game</a></li>
		<li class="list-group-item"><a href="admin.php?module=goty&amp;view=manage">Manage Games</a></li>
		<li class="list-group-item"><a href="admin.php?module=goty&amp;view=submitted">Submitted Games {:submitted_count}</a></li>
	</ul>
	</div>
</div>
[/block: main]
