uploads/carousel/*
!uploads/carousel/index.htm
uploads/avatars/*
!uploads/avatars/index.htm
!uploads/avatars/no_avatar.png
!uploads/avatars/no_avatar_dark.png
!uploads/avatars/gallery/
!uploads/avatars/author_pictures/index.htm
uploads/articles
uploads/gamesdb/small/
uploads/tagline_gallery
!uploads/tagline_gallery/index.htm
cache/default
cache/youtube_thumbs/
includes/config.php
/vendor
/w
error_log
