
Options +SymLinksifOwnerMatch

  RewriteEngine On

  RewriteBase /

  ErrorDocument 401 default
  ErrorDocument 403 default
  ErrorDocument 404 /index.php?module=404
  ErrorDocument 500 /down.html

  # BEGIN EXPIRES
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType text/plain "access plus 1 month"
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType text/plain "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/svg+xml "access plus 1 month"
    ExpiresByType image/vnd.microsoft.icon "access plus 1 year"
    ExpiresByType image/x-icon "access plus 1 year"
    ExpiresByType application/x-javascript "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
    ExpiresByType application/x-icon "access plus 1 year"
</IfModule>
# END EXPIRES

# Extra Security Headers

<IfModule mod_headers.c>

	Header set X-XSS-Protection "1; mode=block"

	Header always append X-Frame-Options SAMEORIGIN

	Header set X-Content-Type-Options nosniff

</IfModule>


  RewriteCond %{SCRIPT_FILENAME} !-d

  RewriteCond %{SCRIPT_FILENAME} !-f
  
  RewriteRule ^image_prox/([%\w\.-_]*)$ /includes/image_proxy.php?url=$1 [N,NC]

  RewriteRule ^/?wiki(/.*)?$ %{DOCUMENT_ROOT}/w/index.php [L]

  RewriteRule ^home/?$ /index.php?module=home [N]

  RewriteRule ^free-games/?$ free_games.php [N]
  
  RewriteRule ^calendar/?$ /index.php?module=calendar [N]
  
  RewriteRule ^sales/?$ sales.php [N]
  
  RewriteRule ^mailinglist/?$ /index.php?module=mailing_list [N]

  RewriteRule ^articles/?$ /index.php?module=home [N]
  
  RewriteRule ^all-articles/?$ /index.php?module=home&displayall [N]
  
  RewriteRule ^all-articles/page\=([0-9]+)?$ /index.php?module=home&page=$1&displayall [N]

  RewriteRule ^admin/?$ /index.php?module=home [N]

  RewriteRule ^latest-comments/?$ /index.php?module=comments_latest [N]
  
  RewriteRule ^latest-comments/page=([0-9]+)/?$ /index.php?module=comments_latest&page=$1 [N,NC,QSA]

  RewriteRule ^home/banned?$ /index.php?module=home&message=banned [N]

  RewriteRule ^irc/?$ /index.php?module=irc [N]

  RewriteRule ^sales/page=([0-9]+)/?$ sales.php?page=$1 [N,NC,QSA]

  RewriteRule ^sales/([0-9]+)/?$ sales.php?sale_id=$1 [N,NC,QSA]

  RewriteRule ^sales/message=(.+?)/?$ sales.php?message=$1 [N,NC,QSA]

  RewriteRule ^register/?$ /index.php?module=register [N]

  RewriteRule ^forum/?$ /index.php?module=forum [N]
  
  RewriteRule ^forum/latest?$ /index.php?module=forum&type=latest [N,NC,QSA]
  
  RewriteRule ^forum/categories?$ /index.php?module=forum&type=categories [N,NC,QSA]

  RewriteRule ^about-us/?$ /index.php?module=about_us [N]

  RewriteRule ^private-messages/?$ /index.php?module=messages [N]

  RewriteRule ^submit-article/?$ /index.php?module=submit_article&view=Submit [N]

  RewriteRule ^submit-article/error\=(.+?)?$ /index.php?module=submit_article&view=Submit&error=$1 [N,NC,QSA]

  RewriteRule ^contact-us/?$ /index.php?module=contact [N]

  RewriteRule ^email-us/?$ /index.php?module=email_us [N]

  RewriteRule ^links/?$ /index.php?module=friend_links [N]

  RewriteRule ^support-us/?$ /index.php?module=support_us [N]

  RewriteRule ^community/?$ /index.php?module=community [N]

  RewriteRule ^articles/?$ /index.php?module=home [N]

  RewriteRule ^articles/(.+?)\.([0-9]+)/?$ /index.php?module=articles_full&title=$1&aid=$2 [N,NC,QSA]
  
  RewriteRule ^articles/([0-9]+)/?$ /index.php?module=articles_full&aid=$1 [N,NC,QSA]

  RewriteRule ^articles/(.+?)\.([0-9]+)/error=(.+?)?$ /index.php?module=articles_full&aid=$2&title=$1&error=$3 [N,NC,QSA]

  RewriteRule ^articles/(.+?)\.([0-9]+)/page\=([0-9]+)?$ /index.php?module=articles_full&aid=$2&title=$1&page=$3 [N,NC,QSA]

  RewriteRule ^articles/(.+?)\.([0-9]+)/comment_id\=([0-9]+)?$ /index.php?module=articles_full&aid=$2&title=$1&comment_id=$3 [N,NC,QSA]

  RewriteRule ^articles/(.+?)\.([0-9]+)/article_page\=([0-9]+)/?$ /index.php?module=articles_full&aid=$2&title=$1&article_page=$3 [N,NC,QSA]

  RewriteRule ^home/page\=([0-9]+)?$ /index.php?module=home&page=$1 [N]

  RewriteRule ^forum/([0-9]+)/?$ /index.php?module=viewforum&forum_id=$1 [N,NC,QSA]

  RewriteRule ^forum/page\=([0-9]+)?$ /index.php?module=forum&page=$1 [N,NC,QSA]

  RewriteRule ^forum/message=$1?$ /index.php?module=forum&message=$1 [N,NC,QSA]

  RewriteRule ^forum/([0-9]+)/page\=([0-9]+)?$ /index.php?module=viewforum&forum_id=$1&page=$2 [N,NC,QSA]

  RewriteRule ^forum/topic/([0-9]+)/?$ /index.php?module=viewtopic&topic_id=$1 [N,NC,QSA]
  
  RewriteRule ^forum/topic/([0-9]+)/clear_note\=([0-9]+)?$ /index.php?module=viewtopic&topic_id=$1&clear_note=$2 [N,NC,QSA]

  RewriteRule ^forum/topic/([0-9]+)/page\=([0-9]+)?$ /index.php?module=viewtopic&topic_id=$1&page=$2 [N,NC,QSA]

  RewriteRule ^forum/topic/([0-9]+)/post_id\=([0-9]+)?$ /index.php?module=viewtopic&topic_id=$1&post_id=$2 [N,NC,QSA]
  
  RewriteRule ^forum/topic/([0-9]+)/post_id\=([0-9]+)/clear_note\=([0-9]+)?$ /index.php?module=viewtopic&topic_id=$1&post_id=$2&clear_note=$3 [N,NC,QSA]

  RewriteRule ^private-messages/page\=([0-9]+)?$ /index.php?module=messages&page=$1 [N,NC,QSA]

  RewriteRule ^private-messages/compose/(\d+)*$ /index.php?module=messages&view=compose [N]

  RewriteRule ^private-messages/compose/user\=([0-9]+)?$ /index.php?module=messages&view=compose&user=$1 [N,NC,QSA]

  RewriteRule ^private-messages/([0-9]+)/?$ /index.php?module=messages&view=message&id=$1 [N,NC,QSA]

  RewriteRule ^private-messages/([0-9]+)/page\=([0-9]+)?$ /index.php?module=messages&view=message&id=$1&page=$2 [N,NC,QSA]

  RewriteRule ^profiles/([0-9]+)/?$ /index.php?module=profile&user_id=$1 [N,NC,QSA]
  
  RewriteRule ^profiles/([0-9]+)/comments/?$ /index.php?module=profile&view=more-comments&user_id=$1 [N,NC,QSA]
  
  RewriteRule ^profiles/([0-9]+)/comments/page\=([0-9]+)?$ /index.php?module=profile&view=more-comments&user_id=$1&page=$2 [N,NC,QSA]

  RewriteRule ^users/statistics/?$ /index.php?module=statistics [N,NC,QSA]
  
  RewriteRule ^users/statistics/statid=([0-9]+)?$ /index.php?module=statistics&statid=$1&act=pick [N,NC,QSA]

  RewriteRule ^articles/category/(.+?)/page\=([0-9]+)?$ /index.php?module=articles&view=cat&catid=$1&page=$2 [N,NC,QSA,B]

  RewriteRule ^articles/category/(.+?)/?$ /index.php?module=articles&view=cat&catid=$1 [N,NC,QSA,B]
  
  RewriteRule ^itemdb/?$ itemdb.php [N,NC,QSA]
  
  RewriteRule ^itemdb/([0-9]+)/?$ /index.php?module=items_database&view=item&id=$1 [N,NC,QSA]
  
  RewriteRule ^itemdb/developer/([0-9]+)/?$ /index.php?module=items_database&view=developer&id=$1 [N,NC,QSA]
  
  RewriteRule ^steam-tracker/?$ index.php?module=steam_linux_share [N,NC,QSA]
  
  RewriteRule ^steamplay/?$ steamplay.php [N,NC,QSA]
  
  RewriteRule ^steamplay/reports/([0-9]+)/?$ steamplay_reports.php?id=$1 [N,NC,QSA]

  RewriteCond %{HTTP_HOST} !^www\.
  RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

  RewriteCond %{HTTPS} off
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
  
  # if requested url does not exist pass it as path info to index.php
  RewriteRule ^$ index.php?/ [QSA,L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule (.*) index.php?/$1 [QSA,L]
