Options +SymLinksifOwnerMatch

  RewriteEngine On

  RewriteBase /

  ErrorDocument 401 default
  ErrorDocument 403 default
  ErrorDocument 404 /index.php?module=404
  ErrorDocument 500 /down.html

  # BEGIN EXPIRES
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType text/plain "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType application/x-javascript "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 week"
    ExpiresByType application/x-icon "access plus 1 year"
</IfModule>
# END EXPIRES

  RewriteCond %{SCRIPT_FILENAME} !-d

  RewriteCond %{SCRIPT_FILENAME} !-f
  
  RewriteRule ^image_prox/([%\w\.-_]*)$ /includes/image_proxy.php?url=$1 [N,NC]

  RewriteRule ^/?wiki(/.*)?$ %{DOCUMENT_ROOT}/w/index.php [L]

  RewriteRule ^home/?$ /index.php?module=home [N]

  RewriteRule ^free-games/?$ /free_games.php [N]
  
  RewriteRule ^calendar/?$ /index.php?module=calendar [N]
  
  RewriteRule ^sales/?$ /sales.php [N]
  
  RewriteRule ^mailinglist/?$ /index.php?module=mailing_list [N]

  RewriteRule ^articles/?$ /index.php?module=home [N]

  RewriteRule ^admin/?$ /index.php?module=home [N]

  RewriteRule ^latest-comments/?$ /index.php?module=comments_latest [N]
  
  RewriteRule ^latest-comments/page=([0-9]+)/?$ /index.php?module=comments_latest&page=$1 [N,NC,QSA]

  RewriteRule ^home/banned?$ /index.php?module=home&message=banned [N]

  RewriteRule ^irc/?$ /index.php?module=irc [N]

  RewriteRule ^sales/page=([0-9]+)/?$ /sales.php?page=$1 [N,NC,QSA]

  RewriteRule ^sales/([0-9]+)/?$ /sales.php?sale_id=$1 [N,NC,QSA]

  RewriteRule ^sales/message=(.+?)/?$ /sales.php?message=$1 [N,NC,QSA]

  RewriteRule ^register/?$ /index.php?module=register [N]

  RewriteRule ^forum/?$ /index.php?module=forum [N]

  RewriteRule ^about-us/?$ /index.php?module=about_us [N]

  RewriteRule ^private-messages/?$ /index.php?module=messages [N]

  RewriteRule ^submit-article/?$ /index.php?module=submit_article&view=Submit [N]

  RewriteRule ^submit-article/error\=(.+?)?$ /index.php?module=submit_article&view=Submit&error=$1 [N,NC,QSA]

  RewriteRule ^contact-us/?$ /index.php?module=contact [N]

  RewriteRule ^email-us/?$ /index.php?module=email_us [N]

  RewriteRule ^links/?$ /index.php?module=friend_links [N]

  RewriteRule ^support-us/?$ /index.php?module=support_us [N]

  RewriteRule ^community/?$ /index.php?module=community [N]

  RewriteRule ^articles/?$ /index.php?module=home [N]

  RewriteRule ^articles/(.+?)\.([0-9]+)/?$ /index.php?module=articles_full&title=$1&aid=$2 [N,NC,QSA]
  
  RewriteRule ^articles/([0-9]+)/?$ /index.php?module=articles_full&aid=$1 [N,NC,QSA]

  RewriteRule ^articles/(.+?)\.([0-9]+)/error=(.+?)?$ /index.php?module=articles_full&aid=$2&title=$1&error=$3 [N,NC,QSA]

  RewriteRule ^articles/(.+?)\.([0-9]+)/page\=([0-9]+)?$ /index.php?module=articles_full&aid=$2&title=$1&page=$3 [N,NC,QSA]

  RewriteRule ^articles/(.+?)\.([0-9]+)/comment_id\=([0-9]+)?$ /index.php?module=articles_full&aid=$2&title=$1&comment_id=$3 [N,NC,QSA]

  RewriteRule ^articles/(.+?)\.([0-9]+)/article_page\=([0-9]+)/?$ /index.php?module=articles_full&aid=$2&title=$1&article_page=$3 [N,NC,QSA]

  RewriteRule ^home/page\=([0-9]+)?$ /index.php?module=home&page=$1 [N]

  RewriteRule ^forum/([0-9]+)/?$ /index.php?module=viewforum&forum_id=$1 [N,NC,QSA]

  RewriteRule ^forum/page\=([0-9]+)?$ /index.php?module=forum&page=$1 [N,NC,QSA]

  RewriteRule ^forum/message=$1?$ /index.php?module=forum&message=$1 [N,NC,QSA]

  RewriteRule ^forum/([0-9]+)/page\=([0-9]+)?$ /index.php?module=viewforum&forum_id=$1&page=$2 [N,NC,QSA]

  RewriteRule ^forum/topic/([0-9]+)/?$ /index.php?module=viewtopic&topic_id=$1 [N,NC,QSA]
  
  RewriteRule ^forum/topic/([0-9]+)/clear_note\=([0-9]+)?$ /index.php?module=viewtopic&topic_id=$1&clear_note=$2 [N,NC,QSA]

  RewriteRule ^forum/topic/([0-9]+)/page\=([0-9]+)?$ /index.php?module=viewtopic&topic_id=$1&page=$2 [N,NC,QSA]

  RewriteRule ^forum/topic/([0-9]+)/post_id\=([0-9]+)?$ /index.php?module=viewtopic&topic_id=$1&post_id=$2 [N,NC,QSA]
  
  RewriteRule ^forum/topic/([0-9]+)/post_id\=([0-9]+)/clear_note\=([0-9]+)?$ /index.php?module=viewtopic&topic_id=$1&post_id=$2&clear_note=$3 [N,NC,QSA]

  RewriteRule ^private-messages/page\=([0-9]+)?$ /index.php?module=messages&page=$1 [N,NC,QSA]

  RewriteRule ^private-messages/compose/(\d+)*$ /index.php?module=messages&view=compose [N]

  RewriteRule ^private-messages/compose/user\=([0-9]+)?$ /index.php?module=messages&view=compose&user=$1 [N,NC,QSA]

  RewriteRule ^private-messages/([0-9]+)/?$ /index.php?module=messages&view=message&id=$1 [N,NC,QSA]

  RewriteRule ^private-messages/([0-9]+)/page\=([0-9]+)?$ /index.php?module=messages&view=message&id=$1&page=$2 [N,NC,QSA]

  RewriteRule ^profiles/([0-9]+)/?$ /index.php?module=profile&user_id=$1 [N,NC,QSA]
  
  RewriteRule ^profiles/([0-9]+)/comments/?$ /index.php?module=profile&view=more-comments&user_id=$1 [N,NC,QSA]
  
  RewriteRule ^profiles/([0-9]+)/comments/page\=([0-9]+)?$ /index.php?module=profile&view=more-comments&user_id=$1&page=$2 [N,NC,QSA]

  RewriteRule ^users/statistics/?$ /index.php?module=statistics [N,NC,QSA]

  RewriteRule ^articles/category/(.+?)/page\=([0-9]+)?$ /index.php?module=articles&view=cat&catid=$1&page=$2 [N,NC,QSA]

  RewriteRule ^articles/category/(.+?)/?$ /index.php?module=articles&view=cat&catid=$1 [N,NC,QSA]

  RewriteCond %{HTTP_HOST} !^www\. [NC]
  RewriteRule ^(.*)$ http://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
  
  RewriteCond %{HTTPS} !=on
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
