[block: top]
			<!-- about us page -->
				<div class="box">
					<div class="head">About Us</div>
					<div class="body group">{:about_text}</div>
				</div>
				<div class="box"><div class="subhead">Main Editors</div></div>
[/block: top]

[block: contributors_top]
				<div class="box"><div class="subhead">Contributors</div></div>
[/block: contributors_top]

[block: row]
				<div class="box">
					<div class="head"><a href="/profiles/{:user_id}">{:username}</a></div>
					<div class="body group">{:bio}</div>
				</div>
[/block: row]
