[block: top]
			<!-- about us page -->
				<div class="box">
					<div class="head">About Us</div>
					<div class="body group">A little bit of information on who GamingOnLinux are, we are just a small group of passionate Linux fans who wish to bring you nothing but the best in Linux gaming news. Started by liamdawe on his own in 2009 on a .info address, we later switched to using a .com domain name. Want to get in touch with us? See how <a href="https://www.gamingonlinux.com/contact-us/">on this page</a>.<br />
						<br />
						The website source code is open source: <a href="https://gitlab.com/liamdawe/gamingonlinux">https://gitlab.com/liamdawe/gamingonlinux</a></div>
				</div>
				<div class="box"><div class="subhead">Main Editors</div></div>
[/block: top]

[block: contributors_top]
				<div class="box"><div class="subhead">Contributors</div></div>
[/block: contributors_top]

[block: row]
				<div class="box">
					<div class="head"><a href="/profiles/{:user_id}">{:username}</a></div>
					<div class="body group">{:bio}</div>
				</div>
[/block: row]
