[block: article]
		{:admin_button}<!-- article page -->
		{:article_meta}
				<div class="article individual no-image group">
					<div class="image group">
						<a href="#">

						</a>
					</div>
					<div class="clearer"> </div>
					<div class="info group">
						<div class="bubble">
							<div class="title">{:title}</div>
							<div class="meta">Posted by {:username}, {:date} / {:article_views} views {:edit_link}</div>
						</div>
					</div>
					<div class="share group">
						<span><img src="{:url}templates/default/images/social/white/share.svg" alt="" /> <span>Share</span></span>
						<a class="button small fnone" href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('{:share_url}'), 'height=279, width=575'); return false;" target="_blank"><img src="{:url}templates/default/images/social/facebook.svg" alt="" /></a>
						<a class="button small fnone" href="https://plusone.google.com/_/+1/confirm?hl=en&url={:share_url}" target="_blank"><img src="{:url}templates/default/images/social/google-plus.svg" alt="" /></a>
						<a class="button small fnone" href="https://twitter.com/intent/tweet?text={:title}%20%23Linux&amp;url={:share_url}&amp;via=gamingonlinux" target="_blank"><img src="{:url}templates/default/images/social/twitter.svg" alt="" /></a>
						<a class="button small fnone" href="http://www.gamingonlinux.com/article_rss.php" target="_blank"><img src="{:url}templates/default/images/social/rss.svg" alt="" /></a>
					</div>
					<div class="content group">
						{:text}
						{:paging}
					</div>
					<div class="tags group">
						<ul>
							{:games_list} {:categories_list}
						</ul>
					</div>
				</div>
[/block: article]

[block: bio]
				<div class="box">
					<div class="body no-pad">
						<div class="comment group">
							<div class="comment-meta group">
								<div class="comment-post">
									Article posted by {:username} {:view_more}
								</div>
							</div>
							<div class="comment-author">
								<img class="avatar" alt="" src="{:avatar}" />
							</div>
							<div class="comment-body">
								<p>{:article_bio}</p>
							</div>
						</div>
					</div>
				</div>
[/block: bio]

[block: subscribe]
<br />
<strong>{:subscribe_link} {:close_comments}</strong>
<br />
<br />
[/block: subscribe]

[block: comments_top]
				<div class="box">
					<div class="head"><a name="comments">Comments</a></div>
				</div>
				{:pagination}
				<div class="box comments">
					<div class="body group">
[/block: comments_top]

[block: article_comments]
						<div id="r{:comment_id}" class="comment group">
							<div class="comment-meta group">
								<div class="comment-post">
									{:username} commented <abbr title="{:tzdate}" class="timeago">on {:date}</abbr>
								</div>
								<div class="comment-actions">
									<ul>
										{:report_link}
										{:edit} {:delete}
										<li><a class="tooltip-top" href="{:comment_link}" title="Link to this comment"><span class="icon link">Link</span></a></li>
										{:logged_in_options}
									</ul>
								</div>
							</div>
							<div class="comment-author">
								<img class="avatar" alt="" src="{:comment_avatar}" />
								{:pc_info_link}
								<ul class="comment-badges">
                  {:editor}
									{:donator_badge}
								</ul>
								<ul class="comment-social">
									{:profile_fields}
								</ul>
							</div>
							<div id="{:comment_id}" class="comment-body">
								<div id="{:comment_id}">
									<p>{:text}</p>
								</div>
								<hr />
								<div class="likes">{:total_likes} Likes</div>
							</div>
						</div>
[/block: article_comments]

[block: logged_in_options]
<li><a class="tooltip-top quote_function" title="Quote" data-quote="{:plain_username}" data-comment="{:text_plain}"><span class="icon quote">Quote</span></a></li>
<li class="like-button" style="display:none !important"><a class="likebutton tooltip-top" title="Like"><span class="icon {:like_class}">{:like_text}</span></a></li>
[/block: logged_in_options]

[block: bottom]
					</div>
				</div>
{:pagination}
[/block: bottom]

[block: comments_closed]
<div class="box">
	<div class="body group">
		Comments on this article are now closed.
	</div>
</div>
[/block: comments_closed]

[block: comments_box_top]
<form method="post" action="{:url}index.php?module=articles_full&amp;go=comment" enctype="multipart/form-data">
[/block: comments_box_top]

[block: comment_buttons]
<div class="box">
	<div class="body group">
		<strong>Subscribe to article comments?</strong><br />
		<em>You can <a href="/usercp.php?module=article_subscriptions">see all watched articles here</a>.</em><br />
		<label class="checkbox">
			<input type="checkbox" name="subscribe" {:subscribe_check} /> Subscribe to comments
		</label>
		<select name="subscribe-type"><option value="sub-only">Subscribe without emails</option><option value="sub-emails" {:subscribe_email_check}>Subscribe and get emailed</option></select><br />
		<input type="hidden" name="aid" value="{:aid}" />
		<button id="send" onclick="setTimeout(disableFunction, 1);" type="submit" class="button" formaction="{:url}index.php?module=articles_full&amp;go=comment">Post Comment</button> <button id="preview_text_button" type="button">Preview Comment</button>
	</div>
</div>
</form>
[/block: comment_buttons]

[block: preview]
<div class="preview_pm">
	<div class="box">
		<div class="head">Preview</div>
		<div id="preview" class="pm_text_preview body group"></div>
	</div>
</div>
[/block: preview]

[block: report]
				<div class="box comments group">
					<div class="body group">
						<div id="r{:comment_id}" class="comment group">
							<div class="comment-meta group">
								<div class="comment-post">
									You are about to report this comment
								</div>
								<div class="comment-actions">
								</div>
							</div>
							<div class="comment-author">
								<img class="avatar" alt="" src="{:comment_avatar}" />
							</div>
							<div class="comment-body">
								<div>
									<p>{:text}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
[/block: report]

[block: edit_top]
<div class="box"><div class="head">Editing an article comment</div></div>
<form method="post">
[/block: edit_top]

[block: edit_comment_buttons]
<div class="box">
	<div class="body group">
		<button type="submit" class="button" formaction="{:url}index.php?module=articles_full&amp;go=editcomment&page={:page}">Edit Comment</button>
		<button id="preview_text_button" type="button">Preview Comment</button>
		<input type="hidden" name="comment_id" value="{:comment_id}" />
	</div>
</div>
</form>
[/block: edit_comment_buttons]
