[block: articles_top]
[/block: articles_top]

[block: article_row]
				<!-- Article -->
				<div class="article group">
					<div class="image group">
					<a href="articles/{:article_link}">
						{:top_image}
					</a>
					</div>
					<div class="info group">
						<div class="title"><a href="/articles/{:article_link}">{:title}</a></div>
						<div class="meta">Posted by {:username}, {:date} <span class="meta-date">(<a href="/articles/{:article_link}/#comments">{:comment_count} Comments</a>)</span></div>
						<div class="desc">{:text} {:edit_link} {:editors_pick_link}</div>
						<div class="tags">
							<ul>
								{:categories_list}
							</ul>
						</div>
					</div>
				</div>
[/block: article_row]

[block: bottom]
{:pagination}
[/block: bottom]
