[block: main]
				<div class="box">
					<div class="head">We have many ways to follow us and communicate with us!</div>
				</div>

				<div class="box">
					<div class="head">Linux Gaming Forum!</div>
				</div>
				<div class="box">
					<div class="body group">
						<a href="//www.gamingonlinux.com/forum/">We have a forum</a>. <br />
							Please be respectful of others in the forum.
					</div>
				</div>
				<div class="box">
					<div class="head">IRC!</div>
				</div>
				<div class="box">
					<div class="body group">
						We have an IRC chatroom on Freenode channel #gamingonlinux, you can <a href="//www.gamingonlinux.com/irc/">use our web-based chat here</a>.
					</div>
				</div>
				<div class="box">
					<div class="head">Our G+ Community!</div>
				</div>
				<div class="box">
					<div class="body group">
						<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
						<div class="g-community" data-href="https://plus.google.com/communities/113630288541740437071" data-layout="landscape"></div><br />
						Anyone can join our G+ community, anyone can also post in it too!
					</div>
				</div>

				<div class="box">
					<div class="head">Social Networks!</div>
				</div>
				<div class="box">
					<div class="body group">
						<a href="https://www.facebook.com/gamingonlinux" target="_blank"><img src="templates/default/images/social/facebook.svg"></a> <a href="https://plus.google.com/b/104852318604553771493/+Gamingonlinux/posts" target="_blank"><img src="templates/default/images/social/google-plus.svg"></a> <a href="https://twitter.com/gamingonlinux"><img src="templates/default/images/social/twitter.svg"> <a href="/article_rss.php"><img src="templates/default/images/social/rss.svg"></a>
					</div>
				</div>
				<div class="box">
					<div class="head">Friends Links!</div>
				</div>
				<div class="box">
					<div class="body group">
							<a href="http://worldofgnome.org/">World of Gnome</a> - A blog of all things GNOME, keep up to date.<br />
							<a href="http://www.linuxvoice.com">Linux Voice</a> - An excellent magazine!<br />
							<a href="http://steamlug.org/">Steam Linux User Group Events</a> - Gaming events for Linux users on Steam<br />
							<a href="http://www.penguspy.com">Penguspy Directory</a><br />
							<a href="http://thepythongamebook.com/">The Python Game Book</a><br />
							<a href="http://cheesetalks.twolofbees.com">Cheese Talks</a><br />
							<a href="http://www.lgdb.org">Linux Game Database</a><br />
							<br />
							If you want a link then <a href="/contact-us/">contact us</a>.
					</div>
				</div>
[/block: main]
