[block: list_top]
		<div class="box">
			<div class="head">Linux games that were crowdfunded.</div>
			<div class="body group">This page is a heavy work in progress, mostly an experiment for now. <a href="https://www.gamingonlinux.com/forum/topic/3534">Provide feedback here please</a>.<br />
			To be clear, this is not meant as a place to put down developers if they don't do it, it's more for statistics gathering and to help Linux gamers find games they might have missed.<br />
			Total Counted: {:total} (in development not counted), Total Failed: {:total_failed}<br />
			Success Rate: {:success_rate}, Failure rate: {:failed_percentage}</div>
		
			<table id="crowdfunded" class="sales-table table-stripes-tbody">
			<thead>
				<tr><th>Name</th><th>Developer</th><th>Stretch Goal?</th><th>Linux build status</th></tr>
			</thead>
				<tbody>
[/block: list_top]

[block: row]
			
			<tr>
				<td width="45%"><a href="{:link}">{:name}</a><!--{:notes}--></td>
				<td width="20%">{:dev_name}</td>
				<td width="15%">{:stretch_goal}</td>
				<td width="20%">{:linux_status}</td>
			</tr>
			
[/block: row]

[block: bottom]
				</tbody>
			</table>
		</div>
[/block: bottom]