[block: list_top]
		<div class="box">
			<div class="head">Linux games that were crowdfunded.</div>
			<div class="body group">This page is a heavy work in progress, mostly an experiment for now.<br />
			To be clear, this is not meant as a place to put down developers if they don't do it, it's more for statistics gathering and to help Linux gamers find games they might have missed.<br />
			Total: {:total}, Total Failed: {:total_failed}<br />
			Success Rate: {:success_rate}, Failure rate: {:failed_percentage}</div>
		
			<table class="sales-table table-stripes-tbody">
			<thead>
				<tr><th>Name</th><th>Failed on Linux?</th></tr>
			</thead>
[/block: list_top]

[block: row]
			<tbody>
			<tr>
				<td width="80%;"><a href="{:link}">{:name}</a></td>
				<td width="20%;">{:linux_status}</td>
			</tr>
			</tbody>
[/block: row]

[block: bottom]
			</table>
		</div>
[/block: bottom]