<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GamingOnLinux is undergoing maintenance</title>
	<style>
		body {
			background: #DCDCDC;
			margin: 200px auto;
			width: 450px;
		}
		#box {
			background: #FFFFFF;
			padding: 10px;
			border-radius: 3px;
			box-shadow: 1px 1px 2px black;
		}
	</style>
</head>
<body>
	<div id="box">
		<p>We are performing some tech stuff right now, We'll be back shortly. Find us on <a href="https://twitter.com/gamingonlinux">@gamingonlinux</a> for updates.</p>
	</div>
</body>
</html>
