[block: ckeditor]
<script>	
CKEDITOR.on('instanceCreated', function(e) {
	e.editor.on('change', function(event) {
		var textarea = event.editor.element.$;
		$(textarea).val(event.editor.getData().trim());
		$(textarea.form).trigger('checkform.areYouSure');
	});
})

editor = CKEDITOR.replace( 'ckeditor_gol', {
customConfig: '/includes/jscripts/ckeditor_config.js',
});
editor.addCommand("spoiler", {
	exec: function(edt) {
		edt.insertHtml('<div class="collapse_container"><div class="collapse_header"><span>Spoiler, click me</span></div><div class="collapse_content"><div class="body group">hidden text here</div></div></div>');
	}
});
editor.ui.addButton('spoilerbutton', {
label: "Spoiler",
command: 'spoiler',
toolbar: 'insert',
icon: '/templates/default/images/spoiler.png'
});
this.editor.on('instanceReady', function(){
// Note nested arrays
// http://docs.ckeditor.com/#!/api/CKEDITOR.filter-method-addTransformations
// This rule will add the target="_blank" attribute to all links that
// do not have it.
this.editor.filter.addTransformations([
  [{
	element: 'a',
	left: function( el ) {
	  return el.target !== '_blank';
	},
	right: function( el, tools ) {
	  el.attributes.target = '_blank';
	}
  }]
]);
}.bind(this));
</script>
[/block: ckeditor]

[block: footer]
</div>
<footer id="footer" class="group smooth grid">
	<div id="footer-wrapper" class="row">
		<div class="container">
			<div id="social" class="col-8">
				<ul>
					<li><a href="https://www.twitter.com/gamingonlinux" target="_blank"><img alt src="/templates/default/images/social/white/twitter.svg" width="30" height="30" /></a></li>
					<li><a href="https://t.me/linux_gaming" target="_blank"><img alt src="/templates/default/images/social/white/telegram.svg" width="30" height="30" /></a></li>
					<li><a href="https://discord.gg/0rxBtcSOonvGzXr4" target="_blank"><img alt src="/templates/default/images/social/white/discord.svg" width="30" height="30" /></a></li>
					<li><a href="https://steamcommunity.com/groups/gamingonlinux" target="_blank"><img alt src="/templates/default/images/social/white/steam.svg" width="30" height="30" /></a></li>
					<li><a href="https://www.twitch.tv/gamingonlinux" target="_blank"><img alt src="/templates/default/images/social/white/twitch.svg" width="30" height="30" /></a></li>
					<li><a href="https://www.youtube.com/user/GamingOnLinuxcom" target="_blank"><img alt src="/templates/default/images/social/white/youtube.svg" width="30" height="30" /></a></li>
					<li><a href="https://plus.google.com/+Gamingonlinux" target="_blank"><img alt src="/templates/default/images/social/white/google-plus.svg" width="30" height="30" /></a></li>
					<li><a href="https://www.facebook.com/gamingonlinux" target="_blank"><img alt src="/templates/default/images/social/white/facebook.svg" width="30" height="30" /></a></li>
					{:article_rss}
					{:forum_rss}
				</ul>
			</div>
			<div id="about" class="col-4">
				<a href="{:url}">GamingOnLinux &copy; {:year}</a> - <a href="{:url}privacy.html">Privacy</a>, <a href="{:url}ethics.html">Ethics</a>
			</div>
		</div>
	</div>
</footer>
<script src="{:url}includes/jscripts/twitch_checker.js"></script>
<script>twitch_check("{:twitch_dev_key}", "gamingonlinux"); setInterval ( "twitch_check('{:twitch_dev_key}', 'gamingonlinux')", 60000 );</script>
<script type="text/javascript" src="{:url}includes/jscripts/jquery.timeago.js"></script>
<script type="text/javascript" src="{:url}includes/jscripts/jquery.qtip.min.js"></script>

<script type="text/javascript">
	jQuery("abbr.timeago").timeago('init');
	jQuery("time.timeago").timeago();
	jQuery('.tooltip-top').qtip({
	    position: {
	        my: 'bottom center',
	        at: 'top center'
	    },
	    style: {
	        classes: 'qtip-bootstrap qtip-shadow'
	    }
	});

	var sale_search_options = {
		url: function(phrase) { 
				return "/includes/ajax/call_sales.php?q=" + phrase + "&format=json";    
		},

		getValue: "data",

		ajaxSettings: {
			dataType: "json"
		},
		requestDelay: 300,
		list: {
			onClickEvent: function() {
				var replaced = $("#sale-search").val().replace(/ /g, '+');
			}	
		}
	};

$("#sale-search").easyAutocomplete(sale_search_options);
</script>
{:ckeditor_js}
{:editor_js}
{:user_graph_js}
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//www.gamingonlinux.com/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
<noscript><p><img src="https://www.gamingonlinux.com/piwik/piwik.php?idsite=1&rec=1" style="border:0" alt="" /></p></noscript>
</body>
</html>{:debug}
[/block: footer]
