[block: head]
<div class="box">
	<div class="body group">Welcome to the GamingOnLinux free games list! This page is currently in BETA. Looking for Linux games on sale, or games currently 100% off? Check out the <a href="/sales.php">Sales Page</a>! This page is for games that are permanently free.</div>
</div>
<div class="box">
	<div class="body group">
		<form id="free-search-form"><input id="free-search" class="ays-ignore" name="q" type="search" placeholder="Search for a free game by title..." /><input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" /></form>
	</div>
	<div class="head">Games List</div>
	<div class="body group"><small>If it has a trailer, click the little icon to see it.</small></div>
[/block: head]

[block: list_top]
	<div class="free-list">
	<table class="sales-table table-stripes-tbody">
		<thead>
			<tr><th colspan="2">Name</th><th>Links</th><th>License</th></tr>
		</thead>
[/block: list_top]

[block: row]
		<tbody>
		<tr>
			<td width="15%;">{:small_pic}</td>
			<td width="40%;">{:edit}{:name}</td>
			<td width="40%;">{:links}</td>
			<td width="5%;">{:license}</td>
		</tr>
		{:genre_list}
		</tbody>
[/block: row]

[block: genres]
		<tr>
			<td class="td-free-games-tags" colspan="4"><small>{:genre_list}</small></td>
		</tr>	
[/block: genres]

[block: bottom]
		</tbody>
	</table>
	{:pagination}
	<div class="body group"><small>Are we missing a free game? <a href="/index.php?module=email_us">Send us a tip!</a></small></div>
	</div>
</div>
[/block: bottom]