[block: top]
				<!-- links page -->
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-info"><h4 class="no-bottom-margin">Links</h4></div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<a href="http://steamlug.org/">Steam Linux User Group Events</a> - Gaming events for Linux users on Steam<br />
						<a href="http://www.penguspy.com">Penguspy Directory</a><br />
						<a href="http://thepythongamebook.com/">The Python Game Book</a><br />
						<a href="http://cheesetalks.twolofbees.com">Cheese Talks</a><br />
						<a href="http://www.lgdb.org">Linux Game Database</a><br />
						<br />
						If you want a link then <a href="/contact-us/">contact us</a>.
					</div>
				</div>
[/block: top]
