[block: top]
<div class="box"><div class="head">{:name} {:edit-link}</div></div>
[/block: top]

[block: main-info]
<div class="box">
  <div class="body group">
    Linux Release Date: {:release-date}<br />
    <br />
    <strong>External Links</strong><br />
    <ul>{:official_link}{:gog_link}{:steam_link}</ul>
  </div>
</div>
[/block: main-info]

[block: articles]
<div class="box">
  <div class="head">GOL Articles</div>
  <div class="body list"><ul>{:articles}</ul></div>
</div>
[/block: articles]
