[block: quick_links]
<div class="box">
	<ul class="breadcrumb">
		<li class="active">Quick Links</li>
		<li><a href="https://www.gamingonlinux.com">Home</a></li>
		<li><a href="/sales.php">Sales Page</a></li>
		<li><a href="/free_games.php">Free Games Page</a></li>
	</ul>
</div>
[/block: quick_links]

[block: suggest_tags]
<script src="includes/jscripts/jquery.form.min.js"></script>
<div class="box">
	<div class="head">
		Suggest tags for {:name}
	</div>
	<div class="body group">
		<form method="post">
			<strong>Current tags:</strong> {:current_genres}<br />
			<strong>Suggest more:</strong><br />
			<select tabindex="-1" multiple="" name="genre_ids[]" class="populate select2-offscreen genres_picker"></select><br />
			<input type="hidden" name="id" value="{:id}" />
			<button formaction="index.php?module=items_database" name="act" value="suggest_tags" type="submit">Suggest tags</button>
		</form>
	</div>
</div>
[/block: suggest_tags]

[block: submit_picker]
<div class="box">
		<div class="head">Submit an item to our database</div>
		<div class="subhead">Please pick what you're submitting</div>
		<div class="body group">
			<ul>
				<li><a href="/index.php?module=items_database&amp;view=submit_item">A game or other software</a></li>
				<li><a href="/index.php?module=items_database&amp;view=submit_dev">A developer or publisher</a></li>
			</ul>
		</div>
</div>
[/block: submit_picker]

[block: submit_item]
<script src="includes/jscripts/jquery.form.min.js"></script>
<div class="box">
	<div class="head">Submit an item to our database</div>
	<div class="body group">Here you can submit games, emulators and other software to be included in our database!</div>
	<div class="head">Required</div>
	<div class="body group">
		<form method="post" action="/index.php?module=items_database">
			Name: <input type="text" name="name" /><br />
			<em>Items need to have <strong>at least one</strong> link at a minimum!</em><br />
			Official website:<br />
			<input type="text" name="link" /><br />
			Steam Link:<br />
			<input type="text" name="steam_link" /><br />
			GOG Link:<br />
			<input type="text" name="gog_link" /><br />
			itch.io Link:<br />
			<input type="text" name="itch_link" /><br />
			<label><input type="checkbox" name="supports_linux" checked/> Does it currently support Linux? <em>Untick this if it's coming in future, or if it's being added to a GOTY Award category for a wanted port (you get the idea).</em></label>
	</div>
	<div class="head">Not Required</div>
	<div class="body group">
		<label><input type="checkbox" name="free" /> Free (as in money)? <em>Tick if this is free/free to play</em></label>
		<label><input type="checkbox" name="application" /> Is an application?</label>
		<label><input type="checkbox" name="emulator"/> Is an emulator?</label>
		<label><input type="checkbox" name="dlc" /> DLC <em>Tick if this is a DLC</em></label>
		Base game name <em>If it's a DLC, what game is it for?</em><br />
		<select tabindex="-1" name="game" id="articleGames" style="width:300px" class="populate select2-offscreen"><option value="0">None</option></select><br />
		<button class="clear-games">Clear game</button><br />
		License <select name="license"><option value=""></option>{:license_options}</select><br />
		Tags<br />
		<select tabindex="-1" multiple="" name="genre_ids[]" class="populate select2-offscreen genres_picker"></select>
	</div>
	<div class="body group"><button formaction="/index.php?module=items_database" name="act" value="submit_item">Submit</button>
	</form></div>
</div>
[/block: submit_item]

[block: submit_developer]
<div class="box">
	<div class="head">Submit an developer/publisher to our database</div>
	<div class="body group">Are we missing a developer/publisher? Submit them to our database here!</div>
	<div class="head">Required</div>
	<div class="body group">
		<form method="post" action="/index.php?module=items_database">
			Name: <input type="text" name="name" />
	</div>
	<div class="head">Not Required</div>
	<div class="body group">
			Official website: <input type="text" name="link" /><br />
	</div>
	<div class="body group"><button formaction="/index.php?module=items_database" name="act" value="submit_dev">Submit</button></form></div>
</div>
[/block: submit_developer]

[block: item_view_top]
<div class="box"><div class="head">{:dlc} {:name} {:edit-link}</div></div>
[/block: item_view_top]

[block: base_game]
<div class="box"><div class="body group">This is a DLC for <a href="/index.php?module=game&game-id={:base_game_id}">{:base_game_name}</a></div></div>
[/block: base_game]

[block: main-info]
<div class="box">
  <div class="body group" style="position: relative;">
    {:extra_info}
    <strong>Release Date</strong>: {:release-date} {:unreleased} {:best_guess}<br />
    <strong>External Links</strong>: <ul class="database_stores">{:official_link}{:gog_link}{:steam_link}{:itch_link}</ul><br />
    {:description}
  </div>
</div>
[/block: main-info]

[block: dlc]
<div class="box">
	<div class="head">DLC</div>
	<div class="body group">{:dlc_names}</div>
</div>
[/block: dlc]

[block: extra]
<div class="database-extra"><ul>{:price}{:license}</ul>{:genres}</div>
[/block: extra]

[block: associations]
<div class="box"><div class="body group">Also known as: {:games}</div></div>
[/block: associations]

[block: main_info_bottom]
<div class="box"><div class="body group">{:edit-link}</div></div>
[/block: main_info_bottom]

[block: articles]
<div class="box">
  <div class="head">GOL Articles</div>
  <div class="body list"><ul>{:articles}</ul></div>
</div>
[/block: articles]

[block: sales]
<div class="box">
		<div class="head">It's on sale!</div>
		<div class="body list"><ul>{:sales_list}</ul></div>
	  </div>
[/block: sales]