[block: top]
<div class="box">
	<div class="head">GamingOnLinux Livestream Calendar{:edit_link}</div>
	<div class="body group">Our official Twitch page: <a href="https://www.twitch.tv/gamingonlinux">https://www.twitch.tv/gamingonlinux</a><br />
		<br />
		<img src="/templates/default/images/cal.gif" alt="" /> We have an ical too, <a href="https://www.gamingonlinux.com/livestreams_ical.php">copy this url</a>. Link to it in your calendar apps to stay up to date!</div>
</div>
[/block: top]

[block: item]
<div class="box">
	<div class="head">{:badge} <a href="{:stream_url}">{:title}</a></div>
	<div class="body group">Start time: {:time} UTC<br />
		End time: {:end_time} UTC<br />
		<br />Starts in: {:countdown}<br />
		<br />
		Stream presented by: {:profile_links}<br />
		Stream url: <a href="{:stream_url}">{:stream_url}</a>
	</div>
</div>
[/block: item]
