[block: message]
				<div class="box">
					<div class="head">System Message</div>
					<div class="body group">{:message}</div>
				</div>
[/block: message]

[block: errormessage]
				<div class="box">
					<div class="head" style="background-color: #f74444; padding: 5px; color: #fff;">System Message</div>
					<div class="body group">{:message}</div>
				</div>
[/block: errormessage]

[block: warningmessage]
<div class="col-md-12" style="background-color: #FFFF00; padding: 5px;">{:message}</div>
[/block: warningmessage]

[block: yes_no]
				<div class="box">
					<div class="head">{:message}</div>
					<div class="body group">
						<form method="post" action="{:action_url}">
							<input type="submit" name="yes" value="Yes" class="btn btn-primary"/>
							<input type="submit" name="no" value="No" class="btn btn-danger" />
							<input type="hidden" name="act" value="{:act}" />
							{:act2}
						</form>
					</div>
				</div>
[/block: yes_no]

[block: redirect]
<script type="text/JavaScript">
<!--
setTimeout("location.href = '{:redirect}';",2500);
-->
</script>
[/block: redirect]
