[block: top]
<div id="content" class="container group">
	<div class="col-12">
		<div class="box">
			<div class="body group">Welcome to the GamingOnLinux.com Linux game sales page. To give you an easy place that shows only Linux games on sale! <br />
			If you click the name heading or price, it will sort the list for you! Something missing? <strong><a href="/index.php?module=submit_sale">Submit one here</a></strong>! <br />
			Also, if you're registered and logged in, you can also add games to <a href="/usercp.php?module=wishlist">your Wishlist</a> to be notified when we detect a new sale.</div>
		</div>
[/block: top]

[block: bundles_top]
		<div class="box">
			<div class="head">Game Bundles{:manage}</div>
[/block: bundles_top]

[block: bundles_row]
			<div class="body group bundle-row"><a href="{:link}">{:name}</a> from {:store_name} | {:linux_total} Linux games <span class="fright">Left: {:time_left}</span></div>
[/block: bundles_row]

[block: bundles_bottom]
		</div>
[/block: bundles_bottom]

[block: sales_top]
		<div class="box">
			<div class="head">Game Sales - Total: {:total}</div>
			<div class="body group">
				<form><input id="sale-search" class="ays-ignore" name="q" type="search" placeholder="Search by title" /><input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" /></form>
			</div>
			<div class="body group sales-options">Options: <a href="/sales.php">Clear Filters</a> | <form style="display: inline;" method="get">Price: <select style="width: 150px; padding: 5px;" name="option[]"><option></option><option value="5less" {:less5_selected}>$5 and under</option><option value="10less" {:less10_selected}>$10 and under</option></select> <label style="display: inline-block;"><input type="checkbox" name="option[]" value="nodlc" {:nodlc_checked} />No DLC</label> <button type="submit">Go</button></form></div>
			<table class="sortable sales-table">
				<thead>
					<tr><th>Name</th><th>Price Now</th></tr>
				</thead>
				<tbody>
[/block: sales_top]

[block: sale_row]
				<tr class="bundle-row">
					<td width="40%;" sorttable_customkey="{:name_sort}">{:edit}{:name}</td>
					<td width="60%;" sorttable_customkey="{:lowest_price}">{:stores}</td>
				</tr>
[/block: sale_row]

[block: sales_bottom]
				</tbody>
			</table>
		</div>
		{:pagination}
	</div>
</div>
[/block: sales_bottom]