[block: main]
	<!-- Content -->
		<div class="row">
			<div class="col-md-12">

[/block: main]

[block: adverts]
				<!-- Ad 1 -->
				<div class="alert alert-info text-center gol-news-ad">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- sales page top -->
					<ins class="adsbygoogle"
					style="display:block"
					data-ad-client="ca-pub-7221863530030989"
					data-ad-slot="8787228741"
					data-ad-format="auto"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
[/block: adverts]

[block: notification_bar]
				<!-- notification -->
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-warning text-center">
							{:notifications}
						</div>
					</div>
				</div>
[/block: notification_bar]

[block: main2]

				<!-- sales intro -->
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-success text-center">
							<h3>Linux Games On Sale: {:total_count}</h3>
							<p>Here you can see the latest games on sale from across the globe that can be played on Linux, your chance to snap up some great cheap games!</p>
							<p>You need to be logged in to be able to report a sale that has ended.</p>
							<a href="#addsalemodal" role="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Submit Sale</a> <a href="/sale_rss.php"><img src="/templates/default/images/rssbig.png" alt="rss" /></a><a href="http://www.twitter.com/linuxgamesales"><img src="/templates/default/images/twitter.png" alt="sales twitter" /></a></p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<form name="form1" class="form-horizontal" role="form" method="get">
							<input type="hidden" name="search" value="on" />
							Pick a single store, or select multiple stores.<br />
							<select name="stores[]" class="form-control" multiple>
								{:provider_jump_list}
							</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
							<label class="checkbox-inline">
								<input type="checkbox" name="drmfree" />DRM Free
							</label> 
							<label class="checkbox-inline">
								<input type="checkbox" name="online" />Requires Product Key
							</label> 
							<label class="checkbox-inline">
								<input type="checkbox" name="steam" />Steam Key
							</label> 
							<label class="checkbox-inline">
								<input type="checkbox" name="desura" />Desura Key
							</label> 
							<button type="submit" formaction="/sales_new.php" class="btn btn-sm btn-primary">Filter</button> <button type="submit" formaction="/sales_new.php" name="reset" class="btn btn-sm btn-danger">Reset</button>

						</form>
					</div>
				</div>

				<!-- sales headers -->
				<table id="sort" class="sort table table-striped table-hover">
				<thead>
				<tr>
					
						<th class="sort-header">Name</th>
						<th class="sort-header">Expiry</th>
						<th class="sort-header">&pound;</th>
						<th class="sort-header">&dollar;</th>
						<th class="sort-header">&euro;</th>
						<th class="sort-header">Store</th>
						
					
				</tr>
				</thead>
				<tbody>	
[/block: main2]

[block: row]
				
					<tr>
					<td id="{:sale_id}" class="span5" data-sort="{:name}">
					{:info} {:edit_link}<br />
					{:pre-order} {:drmfree_check} {:prkey_check} {:steam_check} {:desura_check} {:assets_only} {:bundle_check}
					{:report_button}
					</td>
					<td class="span3">{:expires}</td>
					<td class="span1" data-sort="{:pound_plain}">{:pounds_original}{:pounds}</td>
					<td class="span1" data-sort="{:dollar_plain}">{:dollars_original}{:dollars}</td>
					<td class="span1" data-sort="{:euro_plain}">{:euros_original}{:euros}</td>
					<td class="span1" data-sort="{:provider}">{:provider}</td>
					</tr>
				
[/block: row]

[block: bottom]
				</tbody>
			</table>
			</div>

		</div>
		<script src='/includes/jscripts/tablesort.min.js'></script>
		<script>(function(){new Tablesort(document.getElementById('sort'));})();</script>
		{:pagination}
[/block: bottom]

[block: advert-bottom]
				<!-- Ad 1 desktop -->
				<br />
				<div class="row gol-news-ad hidden-phone">
					<div class="col-md-12">
						<div class="alert alert-info text-center">
							<script type="text/javascript"><!--
							google_ad_client = "ca-pub-7221863530030989";
							/* gol sales page bottom */
							google_ad_slot = "7182016343";
							google_ad_width = 468;
							google_ad_height = 60;
							//-->
							</script>
							<script type="text/javascript"
							src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
							</script>
						</div>
					</div>
				</div>
[/block: advert-bottom]

[block: submit]
	<!-- Button to trigger modal -->
<a href="#addsalemodal" role="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Submit Sale</a>
<script language="javascript" type="text/javascript" src="/includes/jscripts/datetimepicker.min.js"></script>
<!-- Modal -->
<form method="post" enctype="multipart/form-data">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Sale</h4>
      </div>
      <div class="modal-body">
    <p>		
			<a name="addsale"></a>Sale Provider: <select class="form-control" name="provider">{:providers_list}</select><br />
			Options:<br />
			<label class="checkbox">
				<input type="checkbox" name="drmfree" /> DRM Free 
			</label>
			<label class="checkbox">
				<input type="checkbox" name="pr_key" /> Requires Product Key?
			</label>
			<label class="checkbox">
				<input type="checkbox" name="pre-order" /> Sale is a Pre-order?
			</label>
			<label class="checkbox">
				<input type="checkbox" name="steam" /> Steam
			</label>
			<label class="checkbox">
				<input type="checkbox" name="desura" /> Desura 
			</label>
			<label class="checkbox">
				<input type="checkbox" name="game_assets" /> Game assets only <em>If the game has an engine that runs on Linux, but this sale is for the assets only and you need the engine from elsewhere.</em> 
			</label>
			<label>Game Name</label>
			<input type="text" class="form-control" name="info"> <br />
			We need <strong>at least one price</strong>, the more the better though!<br />
			If it's pay what you want you only need to tick the first box leave others blank!<br />
			<label class="checkbox">
				<input type="checkbox" name="pwyw" /> Pay What You Want
			</label>
			<label class="checkbox">
				<input type="checkbox" name="beat_average" /> Beat The Average
			</label>
			<div class="input-prepend">
				<label>Pound Price</label>
				<span class="add-on">£</span><input class="input-mini" type="text" id="PrependedInput" name="pounds" />
			</div>
			<div class="input-prepend">
				<label>Pound Original</label>
				<span class="add-on">£</span><input class="input-mini" type="text" id="PrependedInput" name="pounds_original" />
			</div><br />
			<div class="input-prepend">
				<label>Dollar Price</label>
				<span class="add-on">$</span><input class="input-mini" type="text" id="PrependedInput" name="dollars" />
			</div>
			<div class="input-prepend">
				<label>Dollar Original</label>
				<span class="add-on">$</span><input class="input-mini" type="text" id="PrependedInput" name="dollars_original" />
			</div><br />
			<div class="input-append">
				<label>Euro Price</label>
				<input class="input-mini" type="text" name="euros" /><span class="add-on">€</span>
			</div>
			<div class="input-append">
				<label>Euro Original</label>
				<input class="input-mini" type="text" name="euros_original" /><span class="add-on">€</span>
			</div><br />
			<label>Savings (% off) - Only needed if you don't have the original price!</label>
			<input type="text" name="savings" value="% off" /><br />
			<label>Website Address</label>
			<input type="text" name="website" /> <br />
			Sale thumbnail (Not Required, but helps identify the game, will be scaled to 110x110).<br />
			<input name="new_image" id="new_image" size="30" type="file" class="fileUpload" /><br />
			Expires: <input name="expires" id="expires" type="text" size="25"><a href="javascript:NewCal('expires','ddMMyyyy',true,24)"><img src="/templates/default/images/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a> UTC Time<br />
			{:captcha}
		</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="submit" name="action" value="submit" formaction="/sales/">Submit Sale</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>
[/block: submit]

[block: singlesale]
 <div class="modal fade" id="dataModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="game-title">Sale title</h4>
      </div>
      <div class="modal-body" id="main-info">
        <p>If your seeing this, then there was an error :(.&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('#dataModal').modal('hide');">Close</button>
      </div></div></div></div>
      
    </div><!-- /container -->  
        <script>
            function showModal(id)
            {
                refreshData(id);
                $("#dataModal").modal("show");
            }
            
            function refreshData(gameid)
            {
                    $("#game-title").html("Refreshing...");
                    $("#main-info").html("Refreshing...");
                    $.ajax({
                    type: 'get',
                    url: '/includes/sale_data.php',
                    data: {"gameid":gameid},      
                    success: function(data) {
                        obj = JSON.parse(data)
                        $("#game-title").html(obj.title);
                        $("#main-info").html(obj.info);
                    }
                });
            }
            
		var url = document.URL;
		var sale = null;

		var matches = url.match(/\/sales\/(\d+)/);

		if(matches.length && matches[1]){
		sale = matches[1];}
		
		if(!!sale){
		showModal(parseInt(sale));
		}
        </script>
[/block: singlesale]
