[block: users]
<div class="box">
  <div class="body group">
    There are {:total_users} registered users on GamingOnLinux. These statistics are gathered using their manually entered data on their profiles. Please <a href="https://www.gamingonlinux.com/usercp.php">update your profile here</a> to make this as accurate as possible.
  </div>
</div>
[/block: users]

[block: distribution]
<div class="box">
  <div class="head">
    The most popular distributions from GOL users
  </div>
  <div class="body group">
    {:graph}
    A total of {:not_set} GOL users have not set their distribution, and {:not_listed} GOL users selected that their distribution is not Listed. <a href="https://www.gamingonlinux.com/forum/2/">Submit a request in the forum here</a> to have yours listed.
  </div>
</div>
[/block: distribution]

[block: cpu_vendor]
<div class="box">
  <div class="head">
    The most popular CPU vendor choice
  </div>
  <div class="body group">
    {:cpu_vendor_graph}
    A total of {:cpu_total_not_set} GOL users haven't set the CPU vendor yet.
  </div>
</div>
[/block: cpu_vendor]
