[block: top]
<div class="box">
  <div class="body group">
	Here's a historical look at the Linux market share on Steam, gathered using Valve's publicly provided data. Be sure to look over all the information, don't just take the first chart. If you have feedback, email us any time.
  </div>
</div>
<div class="box">
	<div class="body group">You can interact with these graphs. Click a label to disable/enable it to fine-tune your experience when looking at it</div>
</div>
<div class="box">
	<div class="head">
		Linux market share on Steam over time
    </div>
    <div class="body group">
		{:linuxonly}
    </div>
</div>
<div class="box">
	<div class="head">
		Steam Language: English vs Simplified Chinese
    </div>
    <div class="body group">
		{:languages}
    </div>
</div>
<div class="box">
	<div class="head">
		Linux market share on Steam, three ways to look at it
	</div>
	<div class="body group">
		This is to show how the rise of Asia has clearly impacted the shown Linux market share on Steam.
		{:threesome}
	</div>
</div>
<div class="box">
	<div class="head">
		Okay, how many Linux users are there on Steam?
	</div>
	<div class="body group">
		There's no ideal way to know this. We don't know the total number of users on Steam, sadly Valve rarely give that information out. However, we do know the current record for concurrent online users, which is: 18,528,722 from January 2018.<br />
		<br />
		Using the data we have for January 2018 (0.25%), how many Linux users may have been online at that time?<br />
		Linux <u>online</u> total: 46,321<br />
		<br />
		To be clear, that's how many Linux users <strong>could</strong> have actually been online at that time.<br />
		<br />
		As for an estimation of the total number of Linux users on Steam? Valve reported they had 125 million "active" Steam users back in 2015, considering Valve's rate of growth let's put that at 150 million active users now. Using the latest months recorded share ({:linux_latest_total}), as shown in the last chart above that could equal:<br />
		Linux user total: {:linux_user_total}
	</div>
</div>
	
[/block: top]