[block: main]
			<!-- support us page -->
        		<div class="box">
					<div class="body group">
                        You can help keep GamingOnLinux alive by <a href="https://www.patreon.com/liamdawe">pledging to this Patreon</a> run by Liam Dawe, the owner of GamingOnLinux.<br /><br />
                        If you can't help financially you can help in other ways:<br />
                        <br />
            You can <a href="https://www.gamingonlinux.com/email-us/">suggest games</a> which you would like us to cover and optionally gift a copy to one of our editors.<br />
            <br />
            Or do you have the writing bug and don't like waiting on us to pickup your tip? We are always open to <a href="https://www.gamingonlinux.com/submit-article/">contributed articles</a>.
					</div>
				</div>
[/block: main]

[block: list_top]
				<div class="box">
					<div class="head">GOL Premium Supporters!</div>
          <div class="body group">A random selection of nine supporters, we have too many to display at once now!</div>
				</div>
[/block: list_top]

[block: list_row_start]
				<div class="masonry-support-us">

[/block: list_row_start]

[block: list_row_end]
				</div>
[/block: list_row_end]

[block: person]
				<div class="block">
					<div class="support-us-box body group">
						<a href="/profiles/{:user_id}">
						<img src="{:avatarurl}" alt="{:username}"><br />
						{:username}</a> <br />
						{:supporter_link}
					</div>
				</div>
[/block: person]
