[block: top]
<script>
jQuery(document).ready(function($)
{
  $('.online_list').each(function (index)
  {
    var current = $(this);
    var tnick = $(this).data('tnick');
    $.getJSON("https://api.twitch.tv/kraken/streams?client_id={:twitch_key}&channel="+tnick+"", function(a) {
      if (a["streams"].length > 0)
      {
        //console.log(a["streams"][0].game);
        var game_name = 'Not set';
        if (a["streams"][0].game.length > 0)
        {
          game_name = a["streams"][0].game;
        }
        $(current).find("span").html("<br />Game: " + game_name);
        $(current).show();
      }
    });
  });
});
</script>
<div class="box">
  <div class="head">Linux gamer video directory</div>
  <div class="body group">This page takes information from GOL user profiles to make a directory of livestreams and video content for you to watch!<br />
    Update your <a href="/usercp.php">profile here</a> to get listed.<br />
  <strong>BETA</strong>: Send feedback to the <a href="/forum/2">Forum</a>.</div>
</div>
[/block: top]

[block: online_top]
<div class="box">
  <div class="head">Streaming now</div>
  <div class="body group"><em>Please wait for this list to get populated as we query the Twitch API, refresh the page to reload it</em></div>
</div>
[/block: online_top]

[block: user_online]
  <div class="block online_list" data-tnick="{:twitch_username}" style="display: none;">
    <div class="box">
      <div class="body group">
        {:username} (Online)
        {:twitch_link}
        <span></span>
      </div>
    </div>
  </div>
[/block: user_online]

[block: directory_top]
<div class="box">
  <div class="head">
    The full directory
  </div>
</div>
<div class="masonry">
[/block: directory_top]

[block: user]
  <div class="block">
    <div class="box">
      <div class="body group">
        {:username}
        {:twitch}
        {:youtube}
      </div>
    </div>
  </div>
[/block: user]

[block: bottom]
</div>
{:pagination}
[/block: bottom]
