[block: main_top]
				<div class="box">
					<ul class="breadcrumb">
						<li><a href="/forum/">Forum</a></li>
						<li class="active">{:forum_name}</li>
					</ul>
				</div>
				<div class="box">
					<div class="head">{:forum_name}</div>
					<div class="subhead">{:new_topic_link}</div>
				</div>
[/block: main_top]

[block: post_row]
	<div class="post_row">
		<div class="forum_avatar_holder">
				<img src="{:avatar}" class="index_avatar" alt="avatar" height="50" width="50" />
		</div>
		<div class="post_info_container">
			<div class="forum_post_info">
					<span style="padding-left: 2px; vertical-align: middle; display: table-cell;">{:is_locked}<a href="{:topic_link}">{:title}</a> {:replies} {:pagination_post}<br />
					<em>By <a href="{:profile_link}">{:post_author}</a> {:post_date}</em> </span>
			</div>
			<div class="forum_last_post last_post"><img width="15" height="15" src="/templates/default/images/last_post.png" alt="" />{:last_post}</div>
		</div>
	</div>
[/block: post_row]

[block: main_bottom]
					{:new_topic_link}
					{:pagination}

[/block: main_bottom]
