[block: main]
<div class="box">
	<div class="head">Your account links</div>
	<div class="body list">
				<ul>
					<li><a href="/profiles/{:user_id}">View Profile</a></li>
					<li><a href="/usercp.php">User Settings</a></li>
					<li><a href="/usercp.php?module=bookmarks">Bookmarks</a></li>
					<li><a href="/direct-messages/">{:messages_link}</a></li>
					{:admin_link}
					<li><a href="/index.php?Logout">Logout</a></li>
				</ul>
	</div>
</div>
[/block: main]
