[block: breadcrumb]
<div class="box">
	<ul class="breadcrumb">
		<li class="active">Links</li>
		<li><a href="{:url}">News Home</a></li>
		<li><a href="{:url}anticheat/">Anti-Cheat Home</a></li>
		<li>Viewing {:anticheat_name}</li>
	</ul>
</div>
[/block: breadcrumb]

[block: breadcrumb_updates]
<div class="box">
	<ul class="breadcrumb">
		<li class="active">Links</li>
		<li><a href="{:url}">News Home</a></li>
		<li><a href="{:url}anticheat/">Anti-Cheat Home</a></li>
		<li>Viewing latest 50 updates</li>
	</ul>
</div>
[/block: breadcrumb_updates]

[block: anticheat_list_top]
<div class="box"><div class="body group">The GamingOnLinux list of games with Anti-Cheat and their status for Steam Deck and Desktop Linux. We are currently listing <strong>{:total}</strong> games with some form of anti-cheat. You can submit suggestions in the <a href="https://www.gamingonlinux.com/forum/website-issues-suggestions/"><img width="18" height="15" src="/templates/default/images/steamplay_forum_icon.svg" alt="" /> Forum</a>. Be sure to also join us on <a href="{:discord_link}"><img width="15" height="15" src="/templates/default/images/steamplay_discord.svg" alt="" /> our Discord</a>.</div></div>
[/block: anticheat_list_top]

[block: social_media]
<div class="box">
	<div class="article_list_social_media">
		Follow GamingOnLinux on <div><a href="https://bsky.app/profile/gamingonlinux.com" target="_blank" rel="noopener nofollow"><img loading="lazy" alt="Mastodon" src="/templates/default/images/network-icons/white/bluesky.svg" width="15" height="15"> Bluesky</a></div> and <div><a href="https://mastodon.social/@gamingonlinux" target="_blank" rel="noopener nofollow"><img loading="lazy" alt="Mastodon" src="/templates/default/images/network-icons/white/mastodon.svg" width="15" height="15"> Mastodon</a></div>
	</div>
</div>
[/block: social_media]

[block: title_top]
	<a class="anchor" id="mainlist"></a>
	<div class="box">
		<div class="head"><a href="#mainlist">Viewing all games with {:anticheat_name}</a></div>
	</div>
	<div class="box">
<div class="scrolling-table">
	<em>You can click the table headers to sort.</em>
<table id="anticheat_table" style="width: 100%;" class="table-stripes-tbody dataTable">
	<thead>
		<tr><th class="anticheat-game-name" width="45%">Name</th><th width="20%">Status</th><th width="15%">Developer</th><th width="20%">Anti-cheat</th></tr>
	</thead>
		<tbody>
[/block: title_top]

[block: anticheat_list_item]
		<tr>
			<td>{:edit}
				<strong><a href="{:link}">{:name}</a></strong><br />
				<a href="{:comments_link}"><img  title="comments" width="18" height="15" src="/templates/default/images/steamplay_forum_icon.svg" alt="" /> Comments ({:comments_total})</a>
			</td>
			<td data-order="{:status_value}"><div class="status_icons">{:linux_status}{:proton}{:native}</div></td>
			<td>{:dev_name}</td>
			<td>{:anticheat_vendor}</td>
		</tr>
[/block: anticheat_list_item]

[block: anticheat_list_bottom]
		</tbody>
</table>
</div>
</div>
[/block: anticheat_list_bottom]

[block: updates_top]
<a class="anchor" id="latestupdates"></a>
<div class="box">
	<div class="head"><a href="#latestupdates">Latest Additions &amp; Updates</a></div>
</div>
<div class="box">
	<div class="scrolling-table no-margin">
	<table id="anticheat_table_updates" class="table-stripes-tbody dataTable">
		<thead>
			<tr><th class="anticheat-game-name" width="45%">Name</th><th width="20%">Status</th><th width="15%">Updated</th><th width="20%">Anti-cheat</th></tr>
		</thead>
		<tbody>
[/block: updates_top]

[block: updates_item]
			<tr>
				<td>{:edit}<strong>
					<a href="{:link}" rel="nofollow noopener noreferrer" target="_blank">{:name}</a></strong><br />
					<a href="{:comments_link}"><img  title="comments" width="18" height="15" src="/templates/default/images/steamplay_forum_icon.svg" alt="" /> Comments ({:comments_total})</a>
				</td>
				<td data-order="{:status_value}"><div class="status_icons">{:linux_status}{:proton}{:native}</div></td>
				<td>{:updated_date}</td>
				<td>{:anticheat_vendor}</td>
			</tr>
[/block: updates_item]

[block: more_updates]
			<tr>
				<td colspan="4"><a href="/anticheat/updates/">&#8680; View more updates</a></td>
			</tr>
[/block: more_updates]

[block: updates_bottom]
		</tbody>
	</table>
</div>
</div>
[/block: updates_bottom]

[block: latest_comments_top]
<a class="anchor" id="latestcomments"></a>
<div class="box">
	<div class="head"><a href="#latestcomments">Latest Anti-Cheat User Comments</a></div>
</div>
<div class="box">
<div class="body list">
	<ul class="list-group">
[/block: latest_comments_top]

[block: comment_row]
	<li class="list-group-item"><a href="{:link}">{:title}</a><br /><small>- <time datetime="{:machine_time}">{:date}</time> by {:username}</small></li>
[/block: comment_row]

[block: latest_comments_bottom]
	</ul>
</div>
</div>
[/block: latest_comments_bottom]

[block: legend]
<div class="box">
	<div class="body group"><div><strong>Legend</strong></div>
		<div class="anticheat_legend">
			<div><div class="anticheat-icon works" title="Works"><img src="/templates/default/images/thumbsup.svg" width="25" height="25" /></div> = Works</div>
			<div><div class="anticheat-icon broken"><img src="/templates/default/images/cross.svg" width="30" height="30" /></div> = Broken</div>
			<div><div class="anticheat-icon info" title="Single Player Works"><img src="/templates/default/images/1player.svg" width="30" height="30" /></div> = Single Player Works</div>
			<div><div class="anticheat-icon-platform"><img src="/templates/default/images/proton_icon.png" alt="Proton" title="Works with Proton" /></div> = Works with Proton</div>
			<div><div class="anticheat-icon-platform"><img src="/templates/default/images/tux_icon2.svg" height="20" alt="Proton" title="Works with Native Linux" /></div> = Works with Native Linux</div>
		</div>
	</div>
</div>
[/block: legend]

[block: recent-articles]
<a class="anchor" id="recentarticles"></a>
<div class="box head">
	<strong><a href="#recentarticles">Recent anti-cheat news:</a></strong>
</div>
<div class="info_box_top_articles-container">
<div class="info_box_top_articles anticheat">
	{:article_list}
	<div class="viewmore"><a href="{:url}articles/category/Anti-Cheat/">&#8680; View more anti-cheat articles</a></div>
</div>
</div>
[/block: recent-articles]