[block: suggest_tags]
<script src="includes/jscripts/jquery.form.min.js"></script>
<div class="box">
	<ul class="breadcrumb">
		<li><a href="{:forum_index}">News Home</a></li>
		<li>Article: <a href="{:article_link}">{:title}</a></li>
		<li>Suggest tags</li>
	</ul>
</div>
<div class="box">
	<div class="head">
		Suggest genre tags for the article.
	</div>
	<div class="body group">
		<form method="post">
			<strong>Current tags:</strong> {:current_genre_tags}<br />
			<strong>Suggest more:</strong><br />
			<select tabindex="-1" multiple="" name="categories[]" class="populate select2-offscreen articleCategories"></select><br />
			<input type="hidden" name="article_id" value="{:article_id}" />
			<button formaction="index.php?module=article_tag_suggest" name="act" value="suggest_tags" type="submit">Suggest tags</button>
		</form>
	</div>
</div>
<div class="box">
	<div class="head">
		Suggest game tags for the article.
	</div>
	<div class="body group">
		<form method="post">
			<strong>Current tags:</strong> {:current_game_tags}<br />
			<strong>Suggest more:</strong><br />
			<select tabindex="-1" multiple="" name="games[]" data-picker="games" data-type="all" class="populate select2-offscreen game_picker"></select><br />
			<input type="hidden" name="article_id" value="{:article_id}" />
			<button formaction="index.php?module=article_tag_suggest" name="act" value="suggest_games" type="submit">Suggest games</button>
		</form>
	</div>
</div>
[/block: suggest_tags]