[block: category]
<div class="box">
	<div class="head"><a href="/article_rss.php?tags[]={:category_id}"><img src="/templates/default/images/network-icons/white/rss.svg" alt="RSS" class="fright rss-home" width="23"></a> <h1>Category: {:category}</h1> {:tag_option}</div>
</div>
[/block: category]

[block: blocked_tag]
<div class="box"><div class="subhead">&#9762; You currently have this tag blocked from showing articles on the home page.</div></div>
[/block: blocked_tag]

[block: multi]
<div class="box">
	<div class="head">Below you can search based on article tags</div>
</div>
[/block: multi]

[block: articles_top]
<div class="box">
	<div class="body group">
		<form class="gol-form" method="get" action="/index.php?module=articles&amp;view=cat">
			<input type="hidden" name="module" value="articles" />
			<input type="hidden" name="view" value="multiple" /> 
			Pick categories (CTRL+click for multiple): 
			<select class="ays-ignore" name="catid[]" multiple>{:options}</select>
			<label><input type="radio" name="type" value="any" {:any_check}/>Match any</label> 
			<label><input type="radio" name="type" value="all" {:all_check}/>Match all tags</label> &nbsp;
			<button type="submit">View</button>
		</form>
	</div>
</div>
[/block: articles_top]

[block: article_row]
				<!-- Article -->
				<div class="article group h-entry">
					<div class="image">
					<a href="{:article_link}">
						{:top_image}
					</a>
					</div>
					<div class="info group">
						<h2 class="title p-name"><a class="u-url" href="{:article_link}">{:title}</a></h2>
						<div class="meta">By <strong class="p-author h-card">{:username}</strong>, <span class="dt-published">{:date}</span><div class="comments-pip"><a href="{:article_link}#comments">{:comment_count}</a></div></div>
						<div class="desc p-summary">{:text} {:special_links}</div>
						<div class="tags">
							<ul>
								{:categories_list}
							</ul>
						</div>
					</div>
				</div>
[/block: article_row]

[block: bottom]
<small class="fright">Showing {:search_no_start} to {:end_no} of {:total} entries found.</small> {:pagination}
[/block: bottom]
