[block: more_comments]
<div class="box">
	<div class="head"><h1>Latest Comments</h1></div>
	<div class="body group">Page updates every 5 minutes. Refresh to see more.</div>
</div>
{:comment_posts}
{:pagination}
[/block: more_comments]