[block: top]
                <div class="box">
					<div class="head">Contact Us</div>
					<div class="body group">
						Here you can contact us, please read carefully as there are different ways depending on what you want to do.<br />
						<br />
						<ul>
							<li>If you wish to send quick tips, you can just <a href="/email-us/">Email us</a>.</li>
							<li>Got the writing bug? You can also submit a full article using the <a href="{:submit_link}">Submit Article area</a>!</li>
							<li>Also find us on social media: <a href="https://www.twitter.com/gamingonlinux">Twitter</a>, <a href="https://www.facebook.com/gamingonlinux">Facebook</a>, <a href="https://mastodon.social/@gamingonlinux">Mastodon</a>, <a href="https://discord.gg/0rxBtcSOonvGzXr4">Discord</a>, <a href="https://www.gamingonlinux.com/irc/">IRC</a> and <a href="https://t.me/linux_gaming">Telegram</a>.</li>
						</ul>
					</div>
				</div>
[/block: top]
