[block: list_top]
		<div class="box crowdfunded-page-top">
			<div class="head">Linux games that were crowdfunded.</div>
			<div class="body group">Games that offered Linux support during their crowdfunding campaign. We're currently only tracking games that got successfully funded. <a href="https://www.gamingonlinux.com/forum/topic/3534">Provide feedback here please</a>.</div>
			<div class="subhead">Stats</div>
			<div class="body group">Total Projects: {:total_projects} | In Development: {:in_development} | Finished: {:total} |  Total Failed: {:total_failed}<br />
			Based on those finished: Success Rate: {:success_rate} | Failure rate: {:failed_percentage}</div>
			<table id="crowdfunded" class="sales-table table-stripes-tbody">
			<thead>
				<tr><th>Name</th><th>Developer</th><th>Stretch Goal?</th><th>Linux build status</th></tr>
			</thead>
				<tbody>
[/block: list_top]

[block: row]
			
			<tr>
				<td width="45%">{:edit}<a href="{:link}" rel="nofollow noopener noreferrer" target="_blank">{:name}</a>{:notes}</td>
				<td width="20%">{:dev_name}</td>
				<td width="15%">{:stretch_goal}</td>
				<td width="20%">{:linux_status}</td>
			</tr>
			
[/block: row]

[block: bottom]
				</tbody>
			</table>
		</div>
[/block: bottom]