[block: main]
<div class="box">
	<div class="head">Article RSS feed customiser</div>
	<div class="subhead">Here you can customise what you want to see in your RSS feed.</div>
	<div class="body group">If you're just after a full list, you can use one of the below feeds:<br />
	Full article feed: <a href="https://www.gamingonlinux.com/article_rss.php">https://www.gamingonlinux.com/article_rss.php</a><br />
	Article titles only: <a href="https://www.gamingonlinux.com/article_rss.php?mini">https://www.gamingonlinux.com/article_rss.php?mini</a><br />
	<strong>Feed Customiser</strong><br />
	Here you can pick the categories you wish to have and not have show up.
	
	<input type="text" name="rss_url" value="" />
	<button type="button">Copy rss_url</button>
	</div>
</div>
[/block: main]