[block: editor]
<a id="{:anchor_name}"></a>
<div id="bar_{:editor_id} " class="octus-editor group">
        	<div class="styles group">
			    <ul>
				<li data-tag="b" class="bb-button bold" accesskey="B">B</li>
				<li data-tag="i" class="bb-button italic" accesskey="I">I</li>
				<li data-tag="u" class="bb-button underline" accesskey="U">U</li>
				<li data-tag="s" class="bb-button strike">S</li>
			    </ul>
			    <ul>
				<li class="bb-button" data-tag="img">img</li>
				<li class="bb-button" data-tag="url">url</li>
				<li class="bb-button" data-tag="youtube">youtube</li>
				<!-- <li id="full-screen-bbcode">Full Screen</li> not finished -->
			    </ul>
			    <ul>
				<li class="bb-button" data-tag="code">code</li>
				<li class="bb-button" data-tag="ul">list</li>
				<li class="bb-button" data-tag="quote">quote</li>
				<li class="bb-button" data-tag="spoiler">spoiler</li>
			    </ul>
			    <ul>
				<li class="dropdown emoji">
				    Emoji <img style="vertical-align:middle" src="/templates/default/images/emoticons/smile.png" width="17" height="17" alt="" />
				    <ul class="smiley">
				        {:emoji_list}
				    </ul>
				</li>
			    </ul>
		</div>
			<noscript><div class="no-script">Your JavaScript is off, to use the BBCode options please turn it on. Commenting will still work without! :)</div></noscript>
			<div class="textarea group">
			    <textarea placeholder="Enter comment here..." name="{:name}" class="bbcode_editor" rows="3" cols="17" {:ays_ignore} id="{:editor_id}" {:disabled} >{:content}</textarea>
			</div>
	</div>
[/block: editor]

[block: simple_editor]
<div class="simple_ajax_editor" style="border-width: 1px;
border-style: solid;
border-color: rgb(135, 138, 140);
border-image: initial;
border-radius: 4px;
background: rgb(255, 255, 255);">
	<textarea style="min-height: 122px; border: none; border-style: none; outline: none;" name="{:name}" class="bbcode_editor" rows="3" cols="17" {:ays_ignore} id="{:editor_id}">{:content}</textarea>
	<div style="position: sticky;
    bottom: 0px;
    z-index: 1;
    opacity: 1;
    background-color: rgb(246, 247, 248);
    display: flex;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    align-items: center;
    height: 36px;
    border-radius: 0px 0px 4px 4px;">{:buttons}</div>
</div>
[/block: simple_editor]