[block: top]
    			<script src="https://www.google.com/recaptcha/api.js"></script>
			<!-- email us page -->
				<div class="box">
					<div class="head">Email Us</div>
					<div class="body group">{:submit_article_text}Also find us on social media: <a href="https://www.twitter.com/gamingonlinux">Twitter</a>, <a href="https://www.facebook.com/gamingonlinux">Facebook</a>, <a href="https://mastodon.social/@gamingonlinux">Mastodon</a>, <a href="https://discord.gg/0rxBtcSOonvGzXr4">Discord</a>, <a href="https://www.gamingonlinux.com/irc/">IRC</a> and <a href="https://t.me/linux_gaming">Telegram</a>.</div>
				</div>
[/block: top]

[block: main]
				<div class="box">
					<div class="body group">
						<h4>Please read this section BEFORE emailing, thank you.</h4>
						<ul>
							<li>If you send us any keys for games or software then <strong>make sure you very clearly state how they can/cannot be used.</strong> So, if they are not to be given out, say so!</li>
							<li><strong>Paid articles</strong>: We do not take payment or any kind of gifts in return for articles, it's as simple as that.</li>
							<li>Our contact email is <strong>NOT</strong> for user support, please <a href="https://www.gamingonlinux.com/forum/">use the Forum</a>.</li>
						</ul>
						<p>If that's all fine, go ahead and email us below!</p>
						<p>Having problems with the below form? Email direct: contact@gamingonlinux.com.</p>
						<form class="gol-form" method="post" action="/index.php?module=email_us" role="form">
							<fieldset>
								<div class="form-group">
									<label for="input-name" class="control-label">Your Name</label>
									<input class="ays-ignore" id="input-name" type="text" name="name" value="{:name}" />
								</div>
								<div class="form-group">
									<label for="input-email" class="control-label">Your Email</label>
									<input class="keyup-char-email ays-ignore" id="input-email" type="text" name="email" value="{:email}" />
                  <div class="register-warning"><div class="input-alert-text">Warning: That email doesn't look valid, but don't worry! You can email us anonymously if you wish, but if you want a reply make sure it's correct!</div></div>
                  <div class="all-ok"><div class="input-alert-text">Email looks valid!</div></div>
                </div>
									<label for="input-message" class="control-label">Message</label>
									<textarea id="input-message" class="ays-ignore" name="message" cols="100" rows="25">{:message}</textarea><br />
								{:captcha}
								<div id="hidden_captcha" class="hidden_captcha"></div>
								<button type="submit" name="act" class="btn btn-primary">Send Email</button>
							</fieldset>
						</form>
					</div>
				</div>
[/block: main]
