[block: search_bread]
<div class="box">
	<ul class="breadcrumb">
		<li><a href="/index.php?module=game">Games Database</a></li>
		<li><a href="/index.php?module=calendar">Calendar</a></li>
		<li class="active">Searching</li>
	</ul>
</div>
[/block: search_bread]

[block: search]

<div class="box">
	<div class="body group">
		<form method="get" action="/index.php?module=game-search">
			<span class="col-10">
				<input type="hidden" name="module" value="game-search" /> 
				<input style="margin-bottom: 0px;" placeholder="Search for a game..." style="display: inline; width: 100%;" type="text" name="q" value="{:search_text}" />
			</span> 
			<span class="col-2">
				<button style="display: inline; float: right;" formaction="/index.php?module=game-search" type="submit">Search</button>
			</span>
		</form>
	</div>
</div>
[/block: search]

[block: search_result_top]
<div class="box">
[/block: search_result_top]

[block: search_items]
<div class="body group">
<a href="/index.php?module=game&game-id={:id}">{:name}</a> {:unreleased} {:best_guess} {:dlc}
</div>
[/block: search_items]

[block: search_result_bottom]
</div>
[/block: search_result_bottom]
