[block: header]
<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>{:title} | GamingOnLinux</title>
<meta name="keywords" content="linux, steamos, gaming, linux gaming, linux games, linux game reviews, linux game news, games, reviews, interviews" />
<meta name="description" content="{:meta_description}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:site_name" content="GamingOnLinux" />
<meta name="theme-color" content="#222">
<link href="{:this_template}/images/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta name="flattr:id" content="vl7l63">
{:meta_data}
<!--JS Files-->
<script src="{:url}includes/jscripts/jquery-3.3.0.min.js"></script>
<script src="{:url}includes/jscripts/cookies.js"></script>
<script src="{:url}includes/jscripts/editor.min.js"></script>
<script src="{:url}includes/jscripts/jquery.are-you-sure.js"></script>
<script src="{:url}includes/jscripts/jquery.countdown.min.js"></script>
<script src="{:url}includes/jscripts/select2/select2.min.js?v=1"></script>
<script src="{:url}includes/jscripts/Chart.min.js?v=2.7.2"></script>
<script src="{:url}includes/ckeditor/ckeditor.js?v=1.2"></script>
<script src="{:url}includes/jscripts/autocomplete/jquery.easy-autocomplete.min.js"></script> 
<link rel="stylesheet" href="{:url}includes/jscripts/autocomplete/easy-autocomplete.min.css"> 
<script src="{:url}includes/jscripts/sorttable.js"></script> 
<script src="{:url}includes/jscripts/datatables/datatables.min.js"></script> 
<!--Apple Devices-->
<link rel="apple-touch-icon" sizes="180x180" href="{:this_template}/images/favicons/apple-touch-icon-180x180.png" />
<link rel="apple-touch-icon" sizes="152x152" href="{:this_template}/images/favicons/apple-touch-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="144x144" href="{:this_template}/images/favicons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="120x120" href="{:this_template}/images/favicons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="114x114" href="{:this_template}/images/favicons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="76x76" href="{:this_template}/images/favicons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="72x72" href="{:this_template}/images/favicons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="60x60" href="{:this_template}/images/favicons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="57x57" href="{:this_template}/images/favicons/apple-touch-icon-57x57.png" />
<!--Windows 8 Metro UI-->
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{:this_template}/images/favicons/mstile-144x144.png">
<meta name="msapplication-config" content="{:this_template}/images/favicons/browserconfig.xml">
<!-- Custom CSS Styles -->
<link rel="stylesheet" href="{:url}includes/jscripts/fancybox/jquery.fancybox.css?v=3" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" href="{:this_template}/css/shipping/editor.css?v=2.1.1" />
<link rel="stylesheet" type="text/css" href="{:this_template}/css/shipping/content.css?v=1.3.2" />
<link rel="stylesheet" type="text/css" href="{:this_template}/css/shipping/style.css?v=1.4.3" />
{:dark_css}
<link rel="stylesheet" type="text/css" href="{:url}includes/jscripts/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="{:url}includes/jscripts/datatables/datatables.min.css">
<!-- Qtip2 -->
<link rel="stylesheet" href="{:url}includes/jscripts/qtip2/jquery.qtip.min.css?v=2.1.6" type="text/css" media="screen" />
<script src="{:url}includes/jscripts/qtip2/imagesloaded.pkg.min.js"></script>
<!-- moment -->
<script src="{:url}includes/jscripts/moment/moment.min.js"></script>
<script src="{:url}includes/jscripts/moment/moment-timezone-with-data.min.js"></script>
<!-- datetime picker -->
<script src="{:url}includes/jscripts/timepicker/datepicker.js"></script>
<link rel="stylesheet" type="text/css" href="{:url}includes/jscripts/timepicker/datepicker.css" />
<!-- fancybox for images -->
<script async src="{:url}includes/jscripts/fancybox/jquery.fancybox.min.js?v=3"></script>
{:rss_link}
<script async src="{:url}includes/jscripts/GOL/header.min.js?v=1.5.38"></script>
<script src="{:url}includes/jscripts/clipboard/clipboard.min.js"></script>
</head>

<body>
	<div id="cookie_warning">This website makes use of cookies to enhance your browsing experience and provide additional functionality -> <a href="/privacy.html">More info</a> <span class="cookie_action"><span class="badge"><a id="deny_cookies" href="#">Deny Cookies</a></span> - <span class="badge blue"><a id="allow_cookies" href="#">Allow Cookies</a></span></span></div>
[/block: header]
