[block: articles_top]
				<div class="box" style="margin: 0;">
					<div class="head">Latest Articles 
						<a href="/article_rss.php"><img src="/templates/default/images/network-icons/white/rss.svg" alt="RSS" class="fright rss-home" width="23"></a>
						{:quick_nav}
					</div>
				</div>
[/block: articles_top]

[block: view_all]
<div class="box">
<div class="subhead">Viewing all articles with no filters.</div>
</div>
[/block: view_all]

[block: bottom]
	<div class="clearer"> </div>
	{:pagination}
[/block: bottom]

[block: quick_nav]
<div class="toggle-nav fright">
	<div class="quick-tags">Go to: <a class="link_button" href="/all-articles/">All News</a> {:quick_tag_normal} </div>
	<a class="link_button quick-nav-slider" href="#">Quick Tags</a>
	<div class="toggle-content">
	<ul><li><a href="/all-articles/">All News</a></li>{:quick_tag_hidden}</ul>
	</div>
	</div>
[/block: quick_nav]
