[block: top]
<div class="box">
	<div class="head">Top 20 hottest articles over the last 30 days</div>
	<div class="subhead">This does not take into account your blocked tags, it uses all articles posted.</div>
</div>
[/block: top]
