[block: irc_main]
				<div class="box">
					<div class="body group">
						You don't have to use our IRC widget, just join "#gamingonlinux" on freenode any time! You can use apps like HexChat, Konversation, Pidgin and many others!
					</div>
				</div>
				<div class="box">
					<div class="body group">
						<iframe src="https://webchat.freenode.net?channels=gamingonlinux" width="100%" height="600" frameborder="0">
						<p>Your browser does not support iframes.</p>
						</iframe>
					</div>
				</div>
[/block: irc_main]
