[block: top]
	<nav class="navigation-main">
		<div class="container group">
			<div class="col-12">
			<div id="navigation-mobile" class="toggle-nav">
				<a href="#" onclick="return false;"></a>
				<div class="toggle-content" id="nav-hidden">
					<ul>
						{:user_link}
						{:sections_links}
						<li><a href="{:url}steamplay/">Steam Play</a></li>
						<li><a href="{:url}search-articles/">Search Articles</a></li>
						<li><a href="{:url}contact-us/">Contact Us</a></li>
						<li><a href="{:url}forum/">Forum</a></li>
						<li><a href="{:url}irc/">IRC</a></li>
						<li><a href="{:discord_link}">Discord</a></li>
						<li><a href="{:url}search-articles/">Search</a></li>
						<li style="padding:5px;"><div id="theme-slider1" class="theme-slider-container"><div>Theme:</div> <label class="theme-switch">
							<input type="checkbox">
							<span class="theme-slider"></span>
						</label></div></li>
					</ul>
				</div>
			</div>
			<ul class="header-navbar">
				<li id="gol-icon"><a href="{:url}" title="GamingOnLinux Home"><img src="{:static_image_url}logos/{:icon}" width="49" height="49" alt="GamingOnLinux"></a></li> 
				<li class="nav-title"><a href="{:url}">GamingOnLinux</a></li>
				<li class="dropdown hide-small">
					<a href="#" onclick="return false;">Sections <b class="caret-down"></b></a>
					<ul class="dropdown-menu">
						{:sections_links}
						<li><a href="{:url}steamplay/">Steam Play</a></li>
						<li><a href="{:url}search-articles/">Search Articles</a></li>
						<li><a href="{:url}crowdfunders">Crowdfunded Games</a></li>
					</ul>
				</li>
				<li class="dropdown hide-small">
					<a href="{:url}contact-us/">Contact Us <b class="caret-down"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{:url}email-us/">Email Us</a></li>
						{:submit_article_link}
						<li><a href="{:url}about-us/">Meet The Team</a></li>
					</ul>
				</li>
				<li class="hide-small"><a href="{:url}forum/">Forum</a></li>
				<li class="hide-small"><a href="{:url}irc/">IRC</a></li>
				<li class="hide-small"><a href="{:discord_link}">Discord</a></li>
			</ul>
			<div class="right-menu">
				<div id="search-button-nav" class="toggle-nav search-box">
					<a href="#"><img src="{:this_template}/images/search.svg" width="12.5" height="12.5" alt="search articles"/></a>
					<div class="toggle-content">
							<form method="get" action="{:url}search-articles/">
								<input type="text" class="search-field ays-ignore" name="q" placeholder="Search Articles…" />
								<button type="submit" class="search-button button-primary">Go</button>
								<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" />
							</form>
					</div>
				</div>
				{:notifications_menu}
				{:user_menu}
			</div>
			<ul class="header-navbar fright">
				<li class="header-search">
					<form method="get" action="{:url}search-articles/">
					<input type="text" class="search-field ays-ignore" name="q" placeholder="Search Articles…" />
					<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" />
					</form>
				</li>
			</ul>
		</div>
	</div>
	</nav>
	<div id="body" class="smooth group">
[/block: top]

[block: user_menu]
<div class="toggle-nav user-box hide-small">
	<a href="/index.php?module=account_links"><div class="avatar-container"><div id="nav-avatar">{:avatar}</div></div></a>
	<div class="toggle-content">
		<ul>
			<li style="padding:5px;"><strong class="username-nav">{:username}</strong></li>
			<li class="divider"></li>
			<li><a href="{:profile_link}">View Profile</a></li>
			<li><a href="{:url}usercp.php">User CP</a></li>
			<li><a href="{:url}usercp.php?module=bookmarks">Bookmarks</a></li>
			{:admin_link}
			<li><a class="logout_link" href="{:url}index.php?Logout">Logout</a></li>
			<li style="padding:5px;"><div id="theme-slider2" class="theme-slider-container"><div>Theme:</div> <label class="theme-switch">
				<input type="checkbox">
				<span class="theme-slider"></span>
			</label></div></li>
		</ul>
	</div>
</div>
[/block: user_menu]

[block: notifications]
<div id="alert_box" class="toggle-nav alerts-box right alerts-box-{:alert_box_type}">
	<a href="#" id="notifications_total">{:notifications_total} {:alerts_icon}</a>
	<div class="toggle-content">
		<ul>
			{:admin_line}
			{:comments_line}
			<li><a href="{:messages_link}">{:message_count} new messages</a></li>
		</ul>
	</div>
</div>
[/block: notifications]

[block: login_menu]
<div class="toggle-nav user-box hide-small">
	<a href="/index.php?module=login"><div class="avatar-container"><div id="nav-avatar">{:avatar}</div></div></a>
	<div class="toggle-content">
		<ul>
			<li><a href="{:url}index.php?module=login{:redirect}">Login</a></li>
			<li class="divider"></li>
			<li><a href="{:url}register/">Register</a></li>
			<li class="divider"></li>
			<li style="padding:5px;"><div id="theme-slider2" class="theme-slider-container"><div>Theme:</div> <label class="theme-switch">
				<input type="checkbox">
				<span class="theme-slider"></span>
			</label></div></li>
		</ul>
	</div>
</div>
[/block: login_menu]

[block: featured_multiple]
<div class="container">
	<div class="col-12">
		<div class="multiple-featured-container">
			<a class="multiple-featured-big" href="{:featured-link-0}"><div class="overlay"></div>{:feature_image_big}<div class="featured-title"><div class="featured-title-text">{:big-title}</div></div></a>
			<a class="multiple-featured-second hide-small" href="{:featured-link-1}"><div class="overlay"></div>{:feature_image_littletop}<div class="featured-title"><div class="featured-title-text">{:toplittle-title}</div></div></a>
		</div>
	</div>
</div>
[/block: featured_multiple]

[block: activation]
<div class="container">
	<div class="col-12">
		<div class="box">
			<div class="patreon head">Activate your account!</div>
			<div class="body group">
				 Your account isn't activated, to begin posting you need to activate your account via email! <a href="{:url}index.php?module=activate_user&amp;redo=1">Click here to re-send a new activation key</a>!
			</div>
		</div>
	</div>
</div>
[/block: activation]

[block: left]
		<div id="content" class="container group">
			<div class="{:articles_css} col-9">
[/block: left]

[block: left_end]
			<!-- end content column -->
			</div>
[/block: left_end]

[block: right]
	<!-- Sidebar -->
			<div class="col-3">
[/block: right]

[block: right_end]
			</div>
		</div>
[/block: right_end]
