[block: message]
<div id="message-box" class="box {:type} message">
	<div class="head ">{:message}</div>
</div>
[/block: message]

[block: message_fixed]
<input type="checkbox" id="toggle" class="alert-toggle">
<div id="message-box" class="box {:type} message fixed-alert">
	<div class="head ">{:message} - <label id="alert-toggle-close" for="toggle">&#x2715; Close</label></div>
</div>
[/block: message_fixed]

[block: yes_no]
				<div class="box">
					<div class="head">{:message}</div>
					<div class="body group">
						<form method="post" action="{:action_url}">
							{:extra_content}
							<input type="submit" name="yes" value="Yes" class="btn btn-primary"/>
							<input type="submit" name="no" value="No" class="btn btn-danger" />
							<input type="hidden" name="act" value="{:act}" />
							{:act2}
						</form>
					</div>
				</div>
[/block: yes_no]

[block: confirmation]
				<div class="box">
					<div class="head">{:title}</div>
					<div class="body group">
						<form method="post" class="gol-form" action="{:action_url}">
							<p>{:text}</p>
							{:extra_inputs}
							<input type="submit" name="yes" value="Yes" class="btn btn-primary"/>
							<input type="submit" name="no" value="No" class="btn btn-danger" />
							<input type="hidden" name="act" value="{:act}" />
							{:act2}
						</form>
					</div>
				</div>
[/block: confirmation]
