[block: top]
<div id="content" class="container group">
	<div class="col-12">
		<div class="box">
			<div class="body group">
				Welcome to the GamingOnLinux.com Podcasts page. This is a dedicated page hosting all information on whatever Podcasts we've been doing. RSS feeds: <a href="https://www.gamingonlinux.com/podcast_rss_mp3.php" target="_blank">MP3</a> - <a href="https://www.gamingonlinux.com/podcast_rss_ogg.php" target="_blank">OGG</a>
			</div>
		</div>
[/block: top]

[block: row]
		<div class="box">
			<div class="head">{:title}</div>
			<div class="body group"><p>Published: <time class="timeago" datetime="{:machine_time}">{:date}</time></p>
			{:content}
			</div>
		</div>
[/block: row]

[block: bottom]
	</div>
</div>
[/block: bottom]