[block: top]
			<!-- references page -->
				<div class="box">
					<div class="head">GamingOnLinux noted, sourced and referenced from elsewhere</div>
					<div class="body group"><p>A lot of other publications use GamingOnLinux as their source of information so for those interested here's a small selection. This also includes times others have interviewed us directly or content done in partnership with others.</p>
                        <p>This is of course not a complete list, as it's ever-growing and often difficult to find who exactly sources us. Look out for things like "Thanks, GamingOnLinux." in articles.</p>
                        <h2>2024</h2>
                        <ul>
                            <li><a href="https://www.youtube.com/watch?v=ngdzcSPZTaI">Steam Deck HQ</a> (YouTube, Liam Dawe was a podcast guest) - September</li>
                            <li><a href="https://www.rockpapershotgun.com/openblack-is-a-an-attempt-to-recreate-lost-god-game-black-white-in-a-modern-open-source-game-engine">RockPaperShotgun</a> - September</li>
                            <li><a href="https://www.dexerto.com/tech/steam-deck-hit-by-bootloop-havoc-with-decky-plug-ins-2854371/">Dexerto</a> - August</li>
                            <li><a href="https://www.pcgamer.com/games/fps/the-circle-is-now-complete-the-developer-of-an-open-source-port-of-dark-forces-who-consulted-on-the-nightdive-remaster-is-working-on-putting-the-remaster-back-in-the-source-port/">PC Gamer</a> - July</li>
                            <li><a href="https://www.dexerto.com/tech/eas-new-anti-cheat-is-breaking-its-games-on-steam-deck-2629496/">Dexerto</a> - April</li>
                            <li><a href="https://www.theverge.com/2024/4/10/24126368/playtron-mysten-labs-suiplay-0x1-gaming-handheld">The Verge</a> - April</li>
                            <li><a href="https://steamdeckhq.com/news/apex-legends-update-breaks-steam-deck-compat/">SteamDeckHQ</a> - March</li>
                            <li><a href="https://www.theverge.com/2024/1/10/24033161/ayaneo-next-lite-steam-deck-competitor-steamos">The Verge</a> - January</li>
                        </ul>
                        <h2>2023</h2>
                        <ul>
                            <li><a href="https://www.rockpapershotgun.com/modders-polish-metal-gear-solids-pc-master-collection-with-ultrawide-support-sharper-textures-and-more">RockPaperShotgun</a> - November</li>
                        <li><a href="https://www.tomshardware.com/news/steam-deck-crosses-12000-verified-and-playable-games-threshold">Tom's Hardware</a> - October</li>
                        <li><a href="https://www.destructoid.com/metal-gear-solid-collection-is-messy-on-steam-deck-but-valve-is-rolling-out-fixes/">Destructoid</a> - October</li>
                        <li><a href="https://www.windowscentral.com/gaming/pc-gaming/mac-is-relegated-to-third-place-thanks-to-the-steam-deck">Windows Central</a> - August</li>
                        <li><a href="https://www.nme.com/news/ubisoft-breaks-steam-deck-compatible-games-with-its-own-launcher-3391259">NME</a> - February</li>
                        </ul>
                        <h2>2022</h2>
                        <ul>
                            <li><a href="https://www.theverge.com/2022/12/5/23495287/steam-deck-ea-games-electronic-arts-pc">The Verge</a> - December</li>
                            <li><a href="https://www.vgchartz.com/article/455068/report-steam-deck-ships-over-1-million-units/">VGCharts</a> - October</li>
                            <li><a href="https://www.thegamer.com/valve-confirms-steam-deck-follow-ups/">TheGamer</a> - August</li>
                            <li><a href="https://www.gamesradar.com/next-gen-steam-decks-will-be-more-open-and-capable-valve-says/">GamesRadar+</a> - August</li>
                            <li><a href="https://www.youtube.com/watch?v=Lb9BpcIYg-w">Tech Over Tea</a> (YouTube Interview with Liam Dawe) - August</li>
                            <li><a href="https://kotaku.com/steam-deck-firefox-valve-linux-gaming-pc-1849159772">Kotaku</a> - July</li>
                            <li><a href="https://www.pcgamer.com/steam-deck-competitor-is-already-talking-to-valve-about-adding-steamos-support/">PCGamer</a> - July</li>
                            <li><a href="https://www.techradar.com/news/linux-gaming-surges-in-popularity-is-this-the-steam-deck-effect">TechRadar</a> - May</li>
                            <li><a href="https://www.nme.com/news/v-rising-comes-to-linux-and-steam-deck-as-it-sells-a-million-copies-3233231">NME</a> - May</li>
                            <li><a href="https://arstechnica.com/gaming/2022/03/why-the-steam-deck-might-be-too-open-for-fortnite-and-destiny-2/">ArsTechnica</a> - March</li>
                            <li><a href="https://www.youtube.com/watch?v=lzjmPmfLB-o">Linux For Everyone</a> (Liam Dawe was a guest with other popular Linux YouTubers) - March</li>
                            <li><a href="https://www.youtube.com/watch?v=uNt_ReLwk40">Linus Tech Tips</a> (YouTube video, ref: 14:52) - March</li>
                            <li><a href="https://www.tomshardware.com/news/520-verified-steam-deck-games">Tom's Hardware</a> - February</li>
                        </ul>
                        <h1>2021</h1>
                        <ul>
                            <li><a href="https://ubuntu.com/blog/linux-gaming-with-ubuntu-desktop-steam-and-proton">Ubuntu Linux Official Blog</a> - November</li>
                            <li><a href="https://www.nme.com/news/pc-games-using-valves-ceg-drm-now-work-with-proton-3082803">NME</a> - October</li>
                            <li><a href="https://www.pcgamesn.com/steam-deck/top-100-games-proton-compatibility">PCGamesN</a> - October</li>
                            <li><a href="https://www.pcgamer.com/linux-takes-1-of-steam-market-share-as-interest-in-steam-deck-rises/">PCGamer</a> and <a href="https://www.pcmag.com/news/percentage-of-linux-gamers-on-steam-tops-1-for-first-time-in-years">PCMag</a> - August</li>
                        </ul>
                        <h2>2019</h2>
                        <ul>
                            <li><a href="https://www.forbes.com/sites/jasonevangelho/2019/08/07/porting-games-to-linux-is-a-waste-of-time-this-game-developer-says-youre-doing-it-wrong/">Forbes</a> - August</li>
                            <li><a href="https://steamcommunity.com/games/221410/announcements/detail/1602634609636894200?snr=2___">Valve Software</a> - (link is broken though, uses our old article link style) - July</li>
                            <li><a href="https://www.youtube.com/watch?v=Co6FePZoNgE">Linus Tech Tips</a> (YouTube video, ref - 11:30) - April</li>
                        </ul>
                        <h2>2018</h2>
                        <ul>
                        <li><a href="https://www.forbes.com/sites/jasonevangelho/2018/09/04/gaming-on-linux-2-ridiculous-myths-and-2-brutal-truths/">Forbes</a> - September</li>
                        <li><a href="https://kotaku.com/a-brief-history-of-steam-machines-1824290873">Kotaku</a> and <a href="https://www.pcgamer.com/valve-gets-rid-of-the-steam-machine-section/">PCGamer</a> - April</li>
                    </ul>
                        <h2>2017</h2>
                        <ul>
                            <li><a href="https://www.youtube.com/watch?v=QtOcL9X4Bs8">Destination Linux</a> (YouTube Interview with Liam Dawe) - December</li>
                        </ul>
                        <h2>2016</h2>
                        <ul><li><a href="https://www.pcgamesn.com/tomb-raider/tomb-raider-is-heading-to-linux-according-to-a-steamdb-update">PCGamesN</a> - January</li></ul>
                            <h2>2014</h2>
                        <ul>
                            <li><a href="https://www.linuxfoundation.org/blog/blog/linux-video-of-the-week-limit-theory-game-developer-switches-to-linux">The Linux Foundation</a> - May</li>
                            <li><a href="https://blog.linuxmint.com/?p=2601">Linux Mint Official Blog</a> - March</li>
                        </ul>
                        <h2>2015</h2>
                        <ul>
                            <li><a href="https://arstechnica.com/gaming/2015/02/the-state-of-linux-gaming-in-the-steamos-era/">ArsTechnica</a> - February</li>
                        </ul>
                        <h2>Misc</h2>
                        <p>We are also clearly linked in the sidebar of <a href="https://www.reddit.com/r/linux_gaming/">/r/linux_gaming</a>.</p>
                        <p>You can submit suggestions to go here via <a href="https://www.gamingonlinux.com/forum/website-issues-suggestions/">The Forum</a> or via <a href="https://www.gamingonlinux.com/email-us/">Emailing Us</a>.</p>
                    </div>
				</div>
[/block: top]
