[block: main]
<form class="gol-form" method="post" action="/index.php?module=register">
<div class="box">
	<div class="head">User Registration</div>
</div>
<div class="box">
	<div class="head">Your Details</div>
	<div class="body group">
			<strong>Timezone:</strong><br />
			{:timezone_list}
			<strong>Username, please use plain text:</strong> <br />
			<em>If you plan on writing/submitting articles, please use your real name.</em><br />
			<input type="text" class="keyup-char ays-ignore" name="username" /><br />
      		<div class="register-warning"><div class="input-alert-text">We only allow letters, numbers, "-" and "_" characters in usernames.</div></div>
			<strong>Password:</strong> <br />
			<input type="password" class="ays-ignore" name="password" /><br />
			<strong>Verify Password:</strong> <br />
			<input type="password" class="ays-ignore" name="verify_password" /><br />
			<strong>Email:</strong> <br />
			<input type="text" class="ays-ignore" name="uemail" /><br />
			<em>Your email address will never be shared with anyone. It's so you can verify your account and login.</em><br />
			<strong>Age Verification (Date of birth):</strong> <br />
			<em>You must be 18+ to register for GamingOnLinux.</em><br />
			<input type="date" name="age" />
	</div>
</div>
<div class="box">
	<div class="head">Rules</div>
	<div class="body group register-rules">{:rules}</div>
</div>
<div class="box">
	<div class="head">These are required.</div>
	<div class="body group">
			<label><input id="policy_agree" type="checkbox" name="policy_agree" /> I have read and agreed to the <a href="/privacy.html" target="_blank">privacy policy</a>.</label><br />
			<label><input id="spam_list" type="checkbox" name="spam_list" /> I agree to have my IP and Email address checked against the <a href="https://www.stopforumspam.com/" target="_blank">Stop Forum Spam</a> list.</label><br />
			
			<label><input id="rules_agree" type="checkbox" name="rules_agree" /> I've <a href="/index.php?module=rules" target="_blank">read the rules</a> and agree to them.</label><br />
			{:captcha}
			<div id="hidden_captcha" class="hidden_captcha"></div><br />
			If your account remains inactive with no posts for 1 year it will be automatically removed.<br />
			<button type="submit" name="register" value="Register" class="button button-primary reg-button" disabled>Register</button>
	</div>
</div>
</form>
[/block: main]