[block: top]
<div class="box">
	<div class="head">Article Search</div>
	<div class="body group">
		<form class="gol-form" method="get" class="form-inline" action="{:url}index.php">
		<input type="hidden" name="module" value="search" />
		<div class="flex-row">
			<div class="flex-col-double flex-col"><input type="text" class="ays-ignore" name="q" value="{:search_text}" /></div>
			<div class="flex-col-normal flex-col">
				<div class="flex-row flex-col">
				<div class="flex-col-normal"><label><input type="checkbox" name="title_only" {:ticked}> Search title only?</label></div> <div class="flex-col-small"><button>Search</button></div></div></div>
		</div>	
		</form>
	</div>
</div>
[/block: top]

[block: bottom]
<small class="fright">Showing {:search_no_start} to {:end_no} of {:total} entries found.</small> {:pagination}
[/block: bottom]

[block: author_top]
<div class="box">
	<div class="head">Viewing articles by <a href="{:profile_link}">{:username}</a></div>
[/block: author_top]

[block: about_author]
	<div class="body group">{:author_bio} {:profile_fields}</div>
[/block: about_author]

[block: author_bottom]
</div>
<hr />
[/block: author_bottom]

[block: game_top]
<div class="box">
	<div class="head">Viewing articles tagged for <a href="/itemdb/{:appid}">{:app_title}</a></div>
	<div class="body group">This may not be all of them, it depends on articles being correctly tagged.</div>
</div>
[/block: game_top]

[block: help_links]
<hr />
<div class="box">
	<div class="body group">Not finding what you're looking for? Ask for help in <a href="/forum/"><img height="15" src="/templates/default/images/steamplay_forum_icon.svg" alt="" /> The Forum</a> or our <a href="https://discord.gg/0rxBtcSOonvGzXr4"><img height="15" src="/templates/default/images/steamplay_discord.svg" alt="" /> Discord Server</a>.</div>
</div>
[/block: help_links]