[block: top]
<div class="box">
  <div class="body group">
	Here's a historical look at the Linux market share on Steam, gathered using Valve's publicly provided data. Be sure to look over all the information, don't just take the first chart. If you have feedback, email us any time.<br />
	<br />
	<u><strong>Note</strong></u>: Data from before September 2018 has been removed, due to a flaw Valve reported in the survey. Windows 7 machines were being over-counted since around August 2017, so there's no point keeping false data. <a href="https://www.gamingonlinux.com/articles/the-steam-hardware-survey-had-some-flaw-causing-cyber-cafes-to-be-over-counting-users.11711">See here for info</a>. Then, Valve also reported another flaw in October, where smaller distributions were not being counted and the data for September was updated.
  </div>
</div>
<div class="box">
	<div class="head">Linux sales info</div>
	<div class="body group">When buying games from Steam on Linux, how is the desktop platform counted? From what Valve told us (February 2020), they first take the desktop Steam client platform used to buy it, then whatever has the most playtime in two weeks. However, Android and Web Browser purchases default to Windows and then what has the most playtime in two weeks. If you want to ensure developers see a Linux sale: play it on Linux in the first two weeks and only two weeks, don't buy it and leave it.</div>
</div>
<div class="box">
	<div class="subhead">Linux & Languages market share</div>
	<div class="body group">You can interact with these graphs. Click a label to disable/enable it to fine-tune your experience when looking at it</div>
</div>
<div class="box">
	<div class="head">
		Linux market share on Steam over time
    </div>
    <div class="body group">
		{:linuxonly}
    </div>
</div>
<!-- not too useful yet <div class="box">
	<div class="head">
		Daily active Linux users
    </div>
    <div class="body group">
		{:dailyactive}
    </div>
</div>-->
<div class="box">
	<div class="head">
		Steam Languages (across all platforms)
    </div>
    <div class="body group">
		{:languages}
    </div>
</div>
<div class="box">
	<div class="head">
		Steam Languages (Linux only)
    </div>
    <div class="body group">
		{:languages_linux}
    </div>
</div>
<div class="box">
	<div class="head">
		Linux market share on Steam, another way to look at it
	</div>
	<div class="body group">
		{:threesome}
	</div>
</div>
<div class="box">
	<div class="head">
		Okay, how many Linux users are there on Steam?
	</div>
	<div class="body group">
		For an estimation of the total number of Linux users on Steam, Valve reported they nearly 95 million "monthly active users" in February 2020 (<a href="https://steamcommunity.com/groups/steamworks/announcements/detail/1697229969000435735" rel="noopener noreferrer" target="_blank">source</a>).<br />
		<br />
		Using the latest months recorded share ({:linux_latest_total}): {:linux_user_total} estimated "monthly active users" for Linux Steam.<br />
		<br />
		To be clear, that is <strong>not</strong> the total, that is monthly active.
	</div>
</div>

[/block: top]
