[block: top]
<div id="content" class="container group">
	<div class="col-12">
		<div class="box">
			<ul class="breadcrumb">
				<li class="active">Quick Links</li>
				<li><a href="/">GOL News Home</a></li>
                <li><a href="/steamplay/">Steam Play Home</a></li>
                <li><a href="/steamplay/reports/{:steam_id}">Go back to {:name}</a></li>
			</ul>
        </div>
		<div class="box">
			<h3 style="display: inline;">Adding a report for <a href="/steamplay/reports/{:steam_id}">{:name}</a></h3> 
        </div>
        <form class="gol-form" method="post">
        <div class="box">
            <div class="head">Main report info</div>
            <div class="body group">
                <em>If the game does not have singleplayer or multiplayer pick "N/A". <strong>All questions required.</strong></em><br />
                <div class="flex-row">
                    <div class="flex-column-left"><strong><label for="singleplayer">Singleplayer works?</label></strong></div>
                    <div class="flex-column-right"><select id="singleplayer" name="singleplayer"><option value=""></option><option value="N/A">N/A</option><option value="Yes">Yes</option><option value="Has Issues">Works With Issues</option><option value="Broken">Broken</option></select></div>
                </div>
                <div class="flex-row">
                    <div class="flex-column-left"><strong><label for="multiplayer">Multiplayer works?</label></strong></div>
                    <div class="flex-column-right"><em>Multiplayer covers local and online, if one works but not the other it clearly has issues.</em><select id="multiplayer" name="multiplayer"><option value=""></option><option value="N/A">N/A</option><option value="Yes">Yes</option><option value="Has Issues">Works With Issues</option><option value="Broken">Broken</option></select></div>
                </div>
                <div class="flex-row">
                    <div class="flex-column-left"><strong><label for="proton_version">Proton version used</label></strong></div>
                    <div class="flex-column-right"><select id="proton_version" name="proton_version"><option value=""></option>{:proton_versions}</select>How to find the version used? See <a href="/templates/default/images/steamplay-version.png" target="_blank">this image</a>. You need to click the I info button.</div>
                </div>
                <div class="flex-row">
                    <div class="flex-column-left"><strong><label for="time_played">Time played</label></strong></div>
                    <div class="flex-column-right"><em>If you've played less than an hour. Please consider trying it for longer to be accurate and check for issues.</em><select id="time_played" name="time_played"><option value=""></option>{:time_options}</select></div>
                </div>			
			</div>
			<div class="head">PC Info</div>
			<div class="body group">
				<em><strong>All questions required</strong>. Want this to be automated? Add <a href="/usercp.php?module=pcinfo" target="_blank">your PC Info here</a>.</em>
				<div class="flex-row">
					<div class="flex-column-left"><strong>Linux Distribution</strong></div>
					<div class="flex-column-right"><select name="distro">{:distro_list}</select></div>	
				</div>		
				<div class="flex-row">
					<div class="flex-column-left"><strong>Processor (CPU)</strong></div>
					<div class="flex-column-right"><input type="text" name="cpu" value="{:cpu}" /></div>	
				</div>
				<div class="flex-row">
					<div class="flex-column-left"><strong>Graphics Card (GPU)</strong></div>
					<div class="flex-column-right"><input type="text" name="gpu" value="{:gpu}" /></div>	
				</div>
				<div class="flex-row">
					<div class="flex-column-left"><strong>Graphics Card (GPU) - Driver Version</strong></div>
					<div class="flex-column-right"><input type="text" name="gpu_driver" value="{:gpu_driver}" /></div>	
				</div>	
			</div>
            <div class="head">Comments (not required)</div>
            <div class="subhead">Feel free to add anything you used here. You can explain why a specific Proton version needed forcing, or anything else. Tips and tricks or whatever. Anything is okay here, as long as the above questions are properly honest and accurate to the experience.</div>
            <div class="body group">
[/block: top]

[block: bottom]
            </div>
            <div class="body group">
                <button formaction="steamplay_submit.php?steam_id={:steam_id}" name="act" value="submit">Submit</button>
            </div>    
            </div>
        </div>
        </form>
    </div>
</div>
[/block: bottom]