[block: top]
<div id="content" class="container group">
	<div style="text-align: center;" class="col-2">
		<img src="/templates/default/images/golsteamplay.svg" height="150" alt="golsplogo" />
	</div>
	<div class="col-10">
		<div class="box">
			<div class="head">Steam Play - what is it?</div>
			<div class="body group">
				Steam Play is a feature that allows you to run compatibility layers in the Linux version of the Steam client. Proton being one of them, based upon another called Wine, allowing you to play thousands of Windows-only games on Linux. Be sure to check out our constantly updated <a href="https://www.gamingonlinux.com/articles/14552">beginner's guide here</a>.
			</div>
		</div>
		<div class="box">Need help? We have a <a href="/forum/11"><img height="15" src="/templates/default/images/steamplay_forum_icon.svg" alt="" /> Steam Play forum</a> and a dedicated channel in <a href="https://discord.gg/T8wqadk"><img height="15" src="/templates/default/images/steamplay_discord.svg" alt="" /> our Discord</a>.</div>
	</div>
[/block: top]

[block: articles]
<div class="col-6">
	<div class="box">
		<div class="head"><a href="/article_rss.php?tags[]=158"><img src="/templates/default/images/network-icons/white/rss.svg" alt="RSS" class="fright rss-home" width="23"></a>Latest Steam Play articles</div>
		<div class="body list">
			<ul>{:article_list}
				<li>&#43; <a href="/articles/category/Steam_Play">View more Steam Play articles</a></li>
			</ul>
		</div>
	</div>
</div>
[/block: articles]

[block: bottom]
<div class="col-6">
	<div class="box">
		<div class="header-text-plain">FAQ</div>
		<div class="body group">
            <strong>What is the status of Easy Anti-Cheat and BattlEye with Proton?</strong><br />
            Neither currently work or are supported with Proton.<br />
            <strong>Can I use Proton outside of Steam?</strong><br />
            Yes. <a href="https://lutris.net/">Lutris</a> can help with this.<br />
            <strong>Where do I report bugs in Proton and broken games?</strong><br />
            Onto Valve's <a href="https://github.com/ValveSoftware/Proton">GitHub page</a> but try asking <a href="https://www.gamingonlinux.com/forum">in our forum</a> first.
		</div>
	</div>
</div>
	<div class="col-6">
		<div class="box">
            <div class="header-text-plain">Want even more info?</div>
            <div class="body group">
                <a href="/steam-tracker/">Steam Tracker</a> - historical data on the Linux market-share on Steam.<br />
                <a href="/users/statistics">User Statistics</a> - see what systems our users are running.
            </div>
		</div>
	</div>
</div>
[/block: bottom]