[block: top]
<div id="content" class="container group">
	<div style="text-align: center;" class="col-2">
		<img src="/templates/default/images/golsteamplay.svg" height="150" alt="golsplogo" />
	</div>
	<div class="col-10">
		<div class="box">
			<div class="head">Steam Play - what is it?</div>
			<div class="body group">
				Steam Play is a feature that allows you to run compatibility layers in the Linux version of the Steam client. Proton being one of them, allowing you to play thousands of Windows-only games on Linux. Be sure to check out our constantly updated <a href="https://www.gamingonlinux.com/articles/14552">beginner's guide here</a>.
			</div>
		</div>
		<div class="box">Need help? We have a <a href="/forum/11"><img height="15" src="/templates/default/images/steamplay_forum_icon.svg" alt="" /> Steam Play forum</a> and a dedicated channel in <a href="https://discord.gg/T8wqadk"><img height="15" src="/templates/default/images/steamplay_discord.svg" alt="" /> our Discord</a>.</div>
	</div>
[/block: top]

[block: articles]
<div class="col-12">
	<div class="box">
		<div class="head">Latest Steam Play articles</div>
		<div class="body list">
			<ul>{:article_list}
				<li>&#43; <a href="/articles/category/Steam_Play">View more Steam Play articles</a></li>
			</ul>
		</div>
	</div>
</div>
[/block: articles]

[block: bottom]
	<div class="col-12">
		<div class="box">
			Want even more info? We also <a href="/steam-tracker/">have a Steam Tracker</a>, which has some historical data on the Linux market-share on Steam. We also have <a href="/users/statistics">some statistics here</a> on what systems are users are running.
		</div>
	</div>
</div>
[/block: bottom]