[block: setup_profile]
<div class="box">
	<div class="head">More info needed</div>
	<div class="body group">
		To submit content to GamingOnLinux, you need to have setup your profile correctly. At least a short bio to explain who you are and an author mugshot. Why do we require this? It's a case of accountability. Our readers want to know who is behind an article, so do we.<br />
		<br />
		What you need to do:
		<ul>
		<li>Add an author picture/mugshot, the <em>bottom</em> field on the <a href="/usercp.php?module=avatar">Avatar upload form</a>.</li>
		<li>Add a short description of yourself, <a href="/usercp.php?module=profile">at the bottom here</a>.</li>
		<li>If you're <em>not</em> using your real name, please ensure your username is at least publishable and sane. You can change that on the <a href="/usercp.php?module=username">User Control Panel here</a> if you need to.</li>
		</ul><br />
		If you don't want to do all that, no hard feelings! Sending <a href="/email-us/">an email tip</a> is probably better for you!
	</div>
</div>
[/block: setup_profile]

[block: submit]
<a class="admin_preview_article button fleft" href="#preview">Preview</a>
<hr />
<div id="article_preview"></div>
        <script src="{:url}includes/jscripts/jquery.form.min.js"></script>
			<!-- submit article page -->
				<div class="box">
          <div class="head">Full article submissions</div>
					<div class="body group"><strong>We highly recommend saving articles on your PC before previewing/submitting in case of errors!</strong><br />
					Submit an article here, it will go into our submission queue. This is <strong>not</strong> for support requests, please use <a href="/forum/">The Forum</a> for that.<br />
					Are you a <strong>game developer</strong> wanting to notify us of your new game or an update? If so, <a href="/email-us/">email us</a> instead!</div>
				</div>

				<div class="box">
					<div class="body group">
						<form class="gol-form" id="imageform2" method="post" enctype="multipart/form-data" action='{:url}includes/ajax/ajax_tagline_upload.php' style="clear:both">
							Article homepage image. Max of 120kb!
							<div id='imageloadstatus2' style='display:none'><img src="{:url}templates/default/images/loader2.gif" alt="Uploading...."/></div>
							<div id='imageloadbutton2'>
								<input type="file" name="photos2" id="photoimg2" multiple="true" /><br />
								<small>Shows at the side of an article, the width can be no lower than {:max_width} width, with a minimum {:max_height} height. </small>
							</div>
						</form>
						<div id='preview2'>
							{:tagline_image}
						</div>
						<form class="gol-form" id="article_editor" action="{:url}index.php?module=submit_article" method="post">
							<label class="control-label">Title</label>
              				<input type="text" name="title" class="ays-ignore" placeholder="Enter a title..." value="{:title}" maxlength="90" /><br />
[/block: submit]

[block: uploads]
<div class="box">
	<div class="body group">
		<form class="gol-form" id="imageform" method="post" enctype="multipart/form-data" action='/includes/ajax/admin/article_media_upload.php' style="clear:both">
			Upload your media, please keep sane file sizes! If it's a large (30mb+) video, use YouTube.
			<div id='imageloadstatus' style='display:none'>
				<img src="/templates/default/images/loader2.gif" alt="Uploading...."/>
			</div>
			<div id='imageloadbutton'>
				<input type="file" name="media[]" id="photoimg" {:edit_state} multiple/>
			</div>
			<input type="hidden" name="csrf" value="{:csrf}" />
		</form>
	</div>
</div>
<div id="uploaded_media" class="box uploads">
{:previously_uploaded}
</div>
[/block: uploads]

[block: submit_bottom]
							<p>Please be aware that by submitting an article you agree to us making changes to it including spelling, grammar, and at times a slight rewording to fit the websites style. Any major changes we would aim to contact you first. We also usually add store links to where you can buy what the article is talking about, which will likely contain affiliate links.</p>
							<strong>These are required.</strong><br />
							<label><input type="checkbox" name="spam_list" /> I agree to have my IP address checked against the <a href="https://www.stopforumspam.com/" target="_blank">Stop Forum Spam</a> list.</label><br />
							{:captcha}
							<div id="hidden_captcha" class="hidden_captcha"></div><br />
                            {:subscribe_box}<br />
                            <p><strong>By submitting you agree to allow us a full permanent license to continue hosting the article.</strong></p>
							<button type="submit" name="act" value="Submit" class="btn btn-primary">Submit</button> <button class="admin_preview_article">Preview</button>
							{:hidden_upload_fields}
							<input type="hidden" name="csrf" value="{:csrf}" />
						</form>
					</div>
				</div>
[/block: submit_bottom]

[block: preview_row]
<h3>Preview</h3>
<div class="admin_article_preview_box">
		<div class="box">
			<div class="head">Here is how it would look on the homepage</div>
		</div>
		<!-- Article -->
		<div class="articles">
				<div class="article group">
					<div class="image group">
						{:top_image_nobbcode}
					</div>
					<div class="info group">
						<div class="title">{:title}</div>
						<div class="meta">Posted by {:username}, {:date} (0 Comments)</div>
						<div class="desc">{:tagline} </div>
						<div class="tags">
							<ul>
								{:categories_list_preview}
							</ul>
						</div>
					</div>
				</div>
			</div>
		<div class="box">
			<div class="head">Here is the full article</div>
		</div>
		<!-- article page -->

				<div class="article individual no-image group">
					<div class="image group">
						<a href="#">

						</a>
					</div>
					<div class="clearer"> </div>
					<div class="info group">
						<div class="bubble">
							<div class="title">{:title}</div>
							<div class="meta">Posted {:username}, {:date}</div>
						</div>
					</div>
					<div class="content group">
						{:text_full}
					</div>
					<div class="tags group">
						<ul>
							{:categories_list_preview}
						</ul>
					</div>
				</div>
</div>
[/block: preview_row]
