[block: main]
<div class="box">
	<div class="head"><h1>Support GamingOnLinux!</h1></div>
	<div class="body group">
       {:config_support_us_text}
	</div>
</div>
<div class="box">
	<div class="subhead">A big thank you to all those listed below, whatever level of support you give us&mdash;thank you! You're all important to us!</div>
</div>
[/block: main]

[block: mega_top]
<div class="box">
	<div class="head">Mega Supporters ({:total})</div>
	<div class="body group">A list of supporters on <a href="https://www.patreon.com/liamdawe">Patreon</a> subbing the special limited Mega level</div>
</div>
<div class="box">
	<div style="overflow:auto;width:100%;">
		<div class="body group flex-columns">
[/block: mega_top]

[block: mega_row]
			<div class="flex-column-item">
				<div class="support-us-avatar">{:avatar}</div> <a href="{:profile_address}">{:username}</a>
			</div>		
[/block: mega_row]

[block: supporter_plus_top]
		</div>
	</div>
</div>
<div class="box">
	<div class="head">Supporters+ ({:total})</div>
	<div class="body group">A list of supporters subbing at least &#36;7/&#163;5.50 a month to support GamingOnLinux</div>
</div>
<div class="box">
	<div style="overflow:auto;width:100%;height:400px;">
		<div class="body group flex-columns">
[/block: supporter_plus_top]

[block: supporter_plus_row]
			<div class="flex-column-item">
				<div class="support-us-avatar">{:avatar}</div> <a href="{:profile_address}">{:username}</a>
			</div>		
[/block: supporter_plus_row]

[block: supporter_top]
		</div>
	</div>
</div>
<div class="box">
	<div class="head">Supporters ({:total})</div>
    <div class="body group">A list of supporters subbing at least &#36;4/&#163;3 a month to support GamingOnLinux</div>
</div>
<div class="box">
	<div style="overflow:auto;width:100%;height:400px;">
		<div class="body group flex-columns">
[/block: supporter_top]

[block: supporter_row]
			<div class="flex-column-item">
				<div class="support-us-avatar">{:avatar}</div> <a href="{:profile_address}">{:username}</a>
			</div>	
[/block: supporter_row]

[block: bottom]
		</div>
	</div>
</div>
[/block: bottom]
