[block: timeline]
<div class="box">
	<div class="body group">
		A timeline of notable events for Linux gaming.
	</div>
</div>
<div class="timeline">
	<div class="timeline-container container-left">
		<div class="container-content">
			<h3>November 2012</h3>
			<p>Steam for Linux officially enters limited access beta.</p>
		</div>
	</div>
	<div class="timeline-container container-right">
			<div class="container-content">
				<h3>December 2012</h3>
				<p>Steam for Linux beta access opened to all.</p>
			</div>
		</div>
	<div class="timeline-container container-left">
		<div class="container-content">
			<h3>February 2013</h3>
			<p>Steam for Linux officially released.</p>
		</div>
	</div>
	<div class="timeline-container container-right">
			<div class="container-content">
				<h3>June 2013</h3>
				<p>Steam adds support for 64bit Linux games.</p>
			</div>
		</div>
	<div class="timeline-container container-left">
	  <div class="container-content">
		<h3>November 2015</h3>
		<p>Steam Machines, Steam Link &amp; Steam Controller officially released &amp; SteamOS sale.</p>
	  </div>
	</div>
	<div class="timeline-container container-right">
	  <div class="container-content">
		<h3>August 2018</h3>
		<p>Valve announce their new Steam Play "Proton", using a modified version of Wine to play Windows games on Linux.</p>
	  </div>
	</div>
  </div>
[/block: timeline]