[block: timeline_top]
<div id="timeline-adjust" class="box">
	<div class="body group">
		A timeline of interesting and notable events for Linux gaming. Have an event you want us to add? <a href="/email-us/">Email us!</a><br />
		Nav: <a href="#start">Jump to the start</a>
	</div>
</div>
<div class="timeline">
[/block: timeline_top]

[block: row]
	<div {:year_anchor} class="timeline-container container-{:position}">
			<div {:start_anchor} class="container-content">
				<h3>{:date}</h3>
				<p>{:title}</p>
			</div>
		</div>
[/block: row]

[block: timeline_bottom]
</div>
[/block: timeline_bottom]