[block: timeline_top]
<div class="box timeline-margin-adjust">
	<div class="body group">
		A timeline of interesting and notable events for Linux gaming. Have an event you want us to add? <a href="/email-us/">Email us!</a><br />
		Nav: <a href="#start">Jump to the start</a>
	</div>
</div>
<div class="timeline">
[/block: timeline_top]

[block: row]
	<div {:year_anchor} class="timeline-container container-{:position}">
			<div {:start_anchor} class="container-content">
				<h3><a id="{:item_anchor}" href="#{:item_anchor}">{:date}</a></h3>
				<p class="timeline-margin-adjust">{:title}</p>
				{:image}
			</div>
		</div>
[/block: row]

[block: timeline_bottom]
</div>
[/block: timeline_bottom]