[block: main_top]
				<div class="box">
					<ul class="breadcrumb">
						<li><a href="/forum/">Forum</a></li>
						<li class="active">{:forum_name}</li>
					</ul>
				</div>
				<div class="box">
					<div class="head">{:forum_name} {:new_topic_link}</div>
				</div>
[/block: main_top]

[block: pinned]
	<div class="box"><div class="subhead"> &#x1F4CC; Pinned Topics</div></div>
[/block: pinned]

[block: normal_posts]
	<div class="box"><div class="subhead">Normal Topics</div></div>
[/block: normal_posts]

[block: post_row]
	<div class="post_row">
		<div class="forum_avatar_holder">{:avatar}</div>
		<div class="forum_post_info">
			{:is_locked}<a href="{:link}">{:title}</a> <br />
			<small>By <a href="{:profile_link}">{:post_author}</a><br />
			{:replies} replies {:pagination_post}</small>
		</div>
		<div class="forum_last_post last_post">Last post by <a href="{:profile_last_link}">{:last_username}</a><br /><a href="{:last_link}"><abbr title="{:tzdate}" class="timeago">on {:last_date}</abbr></a></div>
</div>
[/block: post_row]

[block: main_bottom]
	<div class="box">
		{:new_topic_link}
		{:pagination}
	</div>
[/block: main_bottom]
