[block: top]
<div class="box"><div class="head">General website statistics for GamingOnLinux</div>
  <div class="body group">GamingOnLinux loves being open about everything, so here's some statistics on the website!</div>
</div>
[/block: top]

[block: users]
<div class="box">
  <div class="body group">
    There are <strong>{:total_users}</strong> people registered on GamingOnLinux and <strong>{:users_month}</strong> new people joined us this month so far. In the last month <strong>{:monthly_active}</strong> people have logged in.<br />
    <br />
    There is a total of <strong>{:total_articles}</strong> articles live on the site and in the last 24 hours <strong>{:total_comments}</strong> comments have been posted!
  </div>
</div>
[/block: users]

[block: articles]
<div class="box">
  <div class="head">Here is a list of who has written for GamingOnLinux between {:last_month} and {:now_date}</div>
  <div class="body list">
    <ul>
      {:author_list}
    </ul>
  </div>
</div>
[/block: articles]

[block: top_tags]
<div class="box">
  <div class="head">Top Tags</div>
  <div class="subhead">Top tags for articles over the last month</div>
  <div class="body group flex-columns">
    {:tags_list}
  </div>
</div>
[/block: top_tags]

[block: hot_articles]
<div class="box">
  <div class="head">The 5 most viewed articles of the last 3 months</div>
  <div class="body list">
    <ul>
      {:hot_articles}
    </ul>
  </div>
</div>
[/block: hot_articles]


[block: top_articles]
<div class="box">
  <div class="head">The 5 most viewed articles of all time</div>
  <div class="body list">
    <ul>
      {:article_list}
    </ul>
  </div>
</div>
[/block: top_articles]

[block: most_likes]
<div class="box">
  <div class="head">The 5 most "liked" articles of all time</div>
  <div class="body list">
    <ul>
      {:article_list}
    </ul>
  </div>
</div>
[/block: most_likes]