[block: menu]
				<!-- Articles Sidebar -->
				<div class="box">
					<div class="head">Popular this week</div>
					<div class="body list">
						<ul>
							{:top_articles}
						</ul>
					</div>
					<div class="subhead"><a href="/index.php?module=search">Search or view by category</a></div>
					<div class="head">Contact</div>
					<div class="body list">
					<ul>
						<li><a href="{:email_us_link}">Email Us</a></li>
						{:submit_article_link}
					</ul>
					</div>
				</div>
[/block: menu]
