[block: list]
				<!-- Forum Posts Sidebar -->
				<div class="box">
					<div class="head"><a href="https://www.gamingonlinux.com/forum/">Latest Forum Posts</a></div>
					<div class="body list">
						<ul class="list-group">
							{:forum_posts}
							<li><a href="/forum/">See more posts</a></li>
						</ul>
					</div>
				</div>
[/block: list]
