[block: main]
<div class="box">
	<div class="head">Sales Admin</div>
	<div class="body list">
	<ul class="list-group">
		<li class="list-group-item"><a href="admin.php?module=sales&amp;view=manage_bundles">Manage Bundles</a></li>
		<li class="list-group-item"><a href="admin.php?module=sales&amp;view=manage_sales">Manage Sales</a></li>
		<li class="list-group-item"><a href="admin.php?module=sales&amp;view=submitted_bundles">Submitted Bundles {:bundle_count}</a></li>
		<li class="list-group-item"><a href="admin.php?module=sales&amp;view=submitted_sales">Submitted Sales</a></li>
	</ul>
	</div>
</div>
[/block: main]
