[block: main]
<div class="box">
	<div class="head">Sales Admin</div>
	<div class="body list">
	<ul class="nav nav-list">
		<li><a href="admin.php?module=sales&view=providers">Manage Sale Providers</a></li>
		<li><a href="admin.php?module=sales&view=add">Add Sale</a></li>
		<li><a href="admin.php?module=sales&view=manage">Manage Current Sales {:reported_count}</a></li>
		<li><a href="admin.php?module=sales&view=submitted">Submitted Sales {:submitted_count}</a></li>
		<li><a href="admin.php?module=sales&view=managesteam">Manage Steam List</a></li>
	</ul>
	</div>
</div>
[/block: main]
