[block: main]
<div class="box">
	<div class="head">Games &amp; Software</div>
	<div class="body list">
	<ul class="list-group">
		<li><a href="/admin.php?module=games&amp;view=search">Search DB</a></li>
		<li><a href="/admin.php?module=games&amp;view=add">Add Item</a></li>
		<li><a href="/admin.php?module=games&amp;view=submitted_list">Submitted Items {:items_count}</a></li>
		<li><a href="/admin.php?module=games&view=tag_suggestions">Tag Suggestions {:tag_count}</a></li>
	</ul>
	</div>
</div>
[/block: main]
