[block: content]
				<div class="box">
					<div class="head">Manage Blocks</div>
					<div class="body group">Main Website Blocks</div>
					<div class="body list">
					<ul class="nav nav-list">
						<li><a href="admin.php?module=blocks&amp;view=add">Create custom block</a></li>
						<li><a href="admin.php?module=blocks&amp;view=manage">Manage current blocks</a></li>
					</ul>
					</div>
					<div class="body group">User Control Panel Blocks</div>
					<div class="body list">
					<ul class="nav nav-list">
						<li><a href="admin.php?module=blocks&amp;view=add&amp;usercp">Create custom block</a></li>
						<li><a href="admin.php?module=blocks&amp;view=manage&amp;usercp">Manage current blocks</a></li>
					</ul>
					</div>
				</div>
[/block: content]
