[block: top]
	<div class="box">
		<div class="head">User Notifications <span class="fright"><a href="/usercp.php?module=notification_preferences"><img src="/templates/default/images/cog-icon.png" alt="prefs"></a></span></div>
		<div class="body group"><a href="/usercp.php?module=notifications&go=mark_all_read&time={:current_time}">Mark all as read</a> | <a href="/usercp.php?module=notifications&go=remove_read">Remove all read</a> | <a href="/usercp.php?module=notifications&go=remove_all">Remove all</a> | <a href="/usercp.php?module=notification_preferences">Preferences</a></div>
	</div>
[/block: top]

[block: unread]
<div class="box"><div style="text-align: center" class="body group"><strong>Unread</strong></div></div>
{:unread_list}
[/block: unread]

[block: read]
<div class="box"><div style="text-align: center" class="body group"><strong>Read</strong></div></div>
{:read_list}
[/block: read]

[block: plain_row]
<div id="note-{:id}" class="box">
	<div class="body group">
		<span class="fright"><a href="#" class="delete_notification" title="Remove Notification" data-note-id="{:id}">&#10799;</a></span><img class="{:icon}" src="{:this_template}/images/comments/{:icon}.png" alt="" /> <a href="{:profile_link}"> <span class="notification-avatar">{:avatar}</span> {:username}</a> {:action_text} <a href="{:link}">{:title}</a> {:additional_comments}
	</div>
</div>
[/block: plain_row]

[block: system_row]
<div id="note-{:id}" class="box">
	<div class="body group">
		<span class="fright"><a href="#" class="delete_notification" title="Remove Notification" data-note-id="{:id}">&#10799;</a></span><img class="{:icon}" src="{:this_template}/images/comments/{:icon}.png" alt="" /> <a href="{:link}">{:title}</a> {:action_text}
	</div>
</div>
[/block: system_row]

[block: none]
<div class="box"><div class="body group">You have zero :(</div></div>
[/block: none]

[block: bottom]
<div class="box"><span class="fright"><small>Notifications older than 6 months are automatically removed.</small></span></div>
{:pagination}
[/block: bottom]
