[block: main]
<div class="box">
	<div class="head">Here you can refresh your Patreon subscription status.</div>
	<div class="body group">Why can't this be done automatically? We're currently waiting on Patreon finishing up version 2 of their API, additionally their webhook system for automatic information sending needs more work, it's just not ready.<br />
	<br />
	Once you're properly linked, you will be able to access the <a href="https://www.gamingonlinux.com/forum/23">Supporter Only forum</a>.<br />
	To get your Discord status to show up, <a href="https://support.patreon.com/hc/en-gb/articles/212052266-Getting-Discord-access" target="_blank">read this</a>.</div>
</div>
[/block: main]

[block: existing_supporter]
<div class="box">
	<div class="body group">
			You are already showing up as a supporter from Patreon, thank you! There should be nothing you need to do.
	</div>
</div>
[/block: existing_supporter]

[block: login]
<div class="box">
	<div class="body group">
			<a href="{:url}">Click here to login via Patreon</a>

	</div>
</div>
[/block: login]

[block: response]
<div class="box">
		<div class="body group">
				{:text}
		</div>
	</div>
[/block: response]
