[block: main]
<div class="box"><div class="head">Here you can change your email address.</div></div>
<div class="box">
	<div class="body group">
		<p><strong>Notice: </strong> changing your email will log you out completely. You will need to login again.</p>
	<form class="gol-form" method="post" action="/usercp.php?module=email" role="form">
	Current Email: {:current_email}<br />
	New Email: <input class="ays-ignore" type="text" name="new_email" /><br />
	Enter your password to confirm it's you doing this:<br />
	<input type="password" class="ays-ignore" name="password" /><br />
	<input type="hidden" name="csrf" value="{:csrf}" />
	<input type="submit" name="Update" value="Update" />
	</form>
	</div>
</div>
<div class="box">
	<div class="head">Supporter email</div>
	<div class="body group">
		<form class="gol-form" method="post" action="/usercp.php?module=email" role="form">
			If your email on sites like Patreon and Paypal is different to your email here, this helps us match up your accounts to correctly give you Supporter status! This is never shown anywhere!
			<input type="email" class="ays-ignore" name="supporter_email" value="{:supporter_email}" /></p>
			<input type="hidden" name="csrf" value="{:csrf}" />
			<button type="submit" name="supporter_update" value="supporter_update">Update</button> <button type="submit" name="remove_supporter_email" value="remove_supporter_email">Remove</button>
		</form>
	</div>
</div>
[/block: main]
