/*
 * ------------------------------
 * Main content styling, for articles, comments etc
 * ------------------------------
 */
img {
  max-width: 100%;
}

a {
  color: #428BCA;
}

/* CK Editor specific stuff */
.cke_editable {
  padding: 10px;
}

/* spoiler container */
.collapse_container {
  border: var(--collapse-container-border);
}

.collapse_container .collapse_header {
  background-color: var(--collapse-header-background);
  padding: 7px 10px;
  cursor: pointer;
  font-weight: bold;
}

.collapse_container .collapse_content {
  display: none;
  padding: 5px;
}

.cke_editable .collapse_container .collapse_content {
  display: block;
  padding: 5px;
}

.special_container {
  padding: 5px 10px;
  background: #eee;
  border: 1px solid #b4b4b4;
  text-align: left;
}

hr.content_split {
  background-color: #fff;
  border-top: 2px dotted #8c8b8b;
}

.article table {
  border: var(--table-border);
}

.ckeditor-html5-video video {
  max-width: 100%;
  height: auto;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

.scroll-table {
  overflow-x: auto;
}

.flex-image-text-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: pre-wrap;
}

.plain-list-title {
  margin-bottom: 5px;
}

.itemdb_embed {
  border: 1px solid grey;
}