.article .content a {
	color: #428BCA;
}
a, a:hover, a:active, a:link, a:visited {
    color: #428BCA;
}

strong {color: #ffffff}

pre {background:#222;}


.cke_dialog_contents textarea, .cke_dialog_contents input[type="text"], .cke_dialog_ui_input_select { background-color: #151515 !important; color: #cccccc}
.special_container
{
	color: #ccc;
	background-color: #383838;
}
.article table {border: 1px solid #eee;}
/* comments */
#comments-background {background: #151515;}
.comment
{
	border: 1px solid #444444;
	background: #222;
}
.calendar-items tr:nth-child(even) {background: #333}
.calendar-items tr:nth-child(odd) {background: #3f3f3f}
/* free games page */
.table-stripes-tbody tbody tr:nth-child(even) {background: #333}
.table-stripes-tbody tbody tr:nth-child(odd) {background: #3f3f3f}
.table-stripes-tbody th {color: #eee;}
/* sales page */
.sales-table th {color: #eee;}

.table-stripes tr:nth-child(even) {background: #333}
.table-stripes tr:nth-child(odd) {background: #3f3f3f}

/* badges */
a.badge.blue {color: #cccccc}

/* Forum */
.post_row {background: #333333; border-bottom: 1px solid #868686;}

h1, h2, h3, h4, h5, h6
{
    color: #428BCA;
    font-weight: 600;
}
input[type="text"][readonly] {
    background-color: #000000;
}
.input-field .addon {
	text-shadow: none;
	background: #474747;
}

a.button {color: #ffffff;}

.button, button, input[type=submit], input[type=reset], input[type=button] {
    background: #428BCA;
    border: 1px solid #357CB7;
    color: #ffffff;
}
.button:hover, button:hover, input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover {
    background: #357CB7;
    color: #ffffff;
}
.article .info .desc {
    border-top: 1px solid #111111;
}
.article.individual .info {
	border-bottom: 1px solid #111111;
}
.article.individual .tags {
	border-top: 1px solid #111111;
}
.article.individual.no-image .info {
	background-color: #151515;
	background-image: url('/templates/default/images/article-discussion-dark.png');
	background-image: url('/templates/default/images/article-discussion-dark.svg'), none;
	border: none;
}

.comment .comment-meta {
	background: #333333;
	border-color: #444444;
}
.distro {
	background: #b7b7b7;
	width: 20px;
	padding: 3px;
	margin-right: 8px;
	vertical-align: sub;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.fancybox-slide > div {
	background: #000000;
}
.comment .comment-social li a {
    background: #333333;
}
.comment .comment-meta .comment-actions li a {
    background: #222222;
}
.comment .comment-meta .comment-actions li a:hover, .comment .comment-social li a:hover {
    background: #428BCA;
}

select.pagination option {background: #3e4347; color: #feffff;}

.box .subhead {background-color: #4e4e4e;}
.livestream {
	background: #111111;
}
.livestream a {
    color: #ffffff;
}
.livestream .next-time {
	background: #222222;
}

.bookmark-saved {background-color: #A4A400 !important;}
::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

.article .bottom-meta ul li a {
	background: #222222;
	float: left;
	padding: 5px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.article .bottom-meta ul li a:hover {
	background-color: #428BCA;
}

.select2-selection__rendered {
color: #fff !important;
}
/* announcement bars */
.announce a {color: #191919; font-style: italic;}
.announce a:link {color: #191919; font-style: italic;}
div.gol_twitch .twitch_announce {background-color: #4b367c; color: #fff; font-style: italic;}
/* gol charts */
.golsvg_header {fill: #515151}
.golsvg_background {fill: #000000}
svg text {fill: white;}
.golsvg_counters {fill: white}

.select2-selection {background-color: #515151 !important}
.select2-selection__choice {background-color: #515151 !important}
.select2-results {background-color: #515151 !important}

.vote_done {color: white; background-color: green;}
#wrap strong {color: black;}

/* timeline */
.container-content{background-color: #222222;}
.container-left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid #222222;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent #222222;
	box-sizing: border-box;
  }
  .container-right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid #222222;
	border-width: 10px 10px 10px 0;
	border-color: transparent #222222 transparent transparent;
	box-sizing: border-box;
  }

  .easy-autocomplete input
  {
	  color: #eee;
  }