[block: top]
<div class="box">
	<div class="head">Moderation Queue</div>
</div>
[/block: top]

[block: approve_forum]
<div class="comment group r{:comment_id} mod_queue">
	<div class="comment-meta group">
		<div class="comment-post">
			<strong>{:mod_type}</strong> - Title: {:title}, by <a href="/profiles/{:author_id}">{:username}</a> - <em>Total approved: {:total}/3</em>
		</div>
	</div>
	<div id="{:comment_id}" class="comment-body mod_queue">
		<div id="text_{:comment_id}">
			{:text}
		</div>
	</div>
</div>
<div class="box">
		<div class="body group">
	<form action="" method="post">
			<button type="submit" onclick="setTimeout(disableFunction, 1);" class="button button-primary" name="action" value="approve">Approve</button> <button type="submit" onclick="setTimeout(disableFunction, 1);" name="action" value="remove">Remove</button> <button type="submit" onclick="setTimeout(disableFunction, 1);" name="action" value="remove_ban">Remove & Ban User</button>
			<input type="hidden" name="type" value="{:type}" />
			<input type="hidden" name="topic_id" value="{:topic_id}" />
			<input type="hidden" name="post_id" value="{:post_id}" />
			<input type="hidden" name="author_id" value="{:author_id}" />
			<input type="hidden" name="forum_id" value="{:forum_id}" />
			<input type="hidden" name="creation_date" value="{:creation_date}" />
		</form>
	</div>
</div>
[/block: approve_forum]


[block: bottom]

[/block: bottom]

[block: suggest_tags]
<script src="includes/jscripts/jquery.form.min.js"></script>
<div class="box">
	<div class="head">
		Suggested tags for <a href="/articles/{:article_id}">{:title}</a>
	</div>
	<div class="body group">
		<form method="post">
			<strong>Current tags:</strong> {:current_tags}<br />
			<strong>Suggested tags</strong> (you can add more, hit the cross to approve only a few):<br />
			<select tabindex="-1" multiple="" name="categories[]" class="populate select2-offscreen articleCategories">{:suggested_list}</select><br />
			<input type="hidden" name="article_id" value="{:article_id}" />
			<input type="hidden" name="current_time" value="{:time}" />
			<input type="hidden" name="suggested_by_id" value="{:suggested_by_id}" />
			<button formaction="admin.php?module=mod_queue" name="action" value="approve_tags" type="submit">Approve tags</button> <button formaction="admin.php?module=mod_queue" name="action" value="deny_tags" type="submit">Deny all tags</button>
		</form>
	</div>
</div>
[/block: suggest_tags]