[block: drafts_top]
<div class="box">
	<div class="body group">
		<form method="post">
			<button formaction="admin.php?module=add_article" class="button button-primary">Make new article</button>
		</form>
	</div>
</div>
<div class="box">
	<div class="head">Your Draft Articles</div>
</div>
[/block: drafts_top]

[block: others_drafts]
<div class="box">
	<div class="head">Other editors drafts</div>
</div>
[/block: others_drafts]

[block: single_draft_top]
<a class="admin_preview_article button fleft" href="#preview">Preview</a>
<hr />
<div class="box"><div class="head">Viewing Draft Article</div></div>
[/block: single_draft_top]

[block: none]
<div class="box">
	<div class="body group">None</div>
</div>
[/block: none]

[block: drafts_row]
<div class="box">
	<div class="body group">
		<form method="post" role="form">
			<strong>{:article_title}</strong> by <a href="/profiles/{:user_id}">{:username}</a> created {:date_created} <br />
			<button type="submit" class="button button-primary" formaction="/admin.php?module=articles&view=drafts&aid={:article_id}">View</button>
			{:delete_button}
			<input type="hidden" name="article_id" value="{:article_id}" />
		</form>
	</div>
</div>
[/block: drafts_row]

[block: drafts_bottom]
	</div>
</div>
<div class="box">
	<div class="body group">
		<label class="checkbox">
			<input type="checkbox" name="subscribe" {:subscribe_check} /> Subscribe to article to receive comment replies via email
		</label><br />
		<label class="checkbox">
			<input type="checkbox" name="show_block" /> Editors Pick? <em>This will show the article under the Editors Pick heading on the Articles block!</em>
		</label><br />
		<label class="checkbox">
			<input type="checkbox" name="moderated_comments" {:moderated_check} /> Force comments to be moderated?
		</label><br />
		<button type="submit" name="act" value="add_draft" class="button button-primary" {:edit_state}>Publish Now</button> <button type="submit" name="act" value="Move_Draft" class="btn btn-info" {:edit_state}>Move to Admin Review Queue</button> <button type="submit" name="act" value="Edit_Draft" class="btn btn-primary" {:edit_state}>Edit</button> <button class="admin_preview_article" type="button">Preview</button>
		<input type="hidden" name="article_id" value="{:article_id}" />
		<input type="hidden" name="author_id" value="{:author_id}" />
		<input type="hidden" name="check" value="Draft" />
		</form>
	</div>
</div>
[/block: drafts_bottom]
